<div class="container-fluid main-content">
  <div class="page-title">
    <h1>
      Clientes
    </h1>
  </div>
  <!-- DataTables Example -->
  <div class="row">
    <div class="col-lg-12">
      <div class="widget-container fluid-height clearfix">
        <div class="heading">
          <i class="fa fa-table"></i> Listando todos los clientes
        </div>
        <div class="widget-content padded clearfix">

          <table class="table table-bordered table-striped" id="dataTable1">
            <thead>
            <th>
              Nombre
            </th>
            <th>
              Telefono
            </th>
            <th class="hidden-xs">
              Movil
            </th>
            <th class="hidden-xs">
              Email
            </th>
            <th class="hidden-xs">

            </th>
            </thead>
            <tbody>
            <% @clientes.each do |cliente| %>
                <tr>
                  <td>
                    <%= cliente.nombre_empresa %>
                  </td>
                  <td>
                    <%= cliente.telefono %>
                  </td>
                  <td class="hidden-xs">
                    <%= cliente.movil %>
                  </td>
                  <td class="hidden-xs">
                    <%= cliente.email %>
                  </td>
                  <td class="hidden-xs">
                    <div class="btn-group">

                      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Consulta<span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li>
                          <%= link_to %{<i class="fa fa-shopping-cart"></i> Pedidos</a>}.html_safe, pedidos_cliente_path(cliente) %>
                        </li>
                        <li>
                          <a href="/clientes/<%= cliente.id %>/seleccionar/cart"><i class="fa fa-save"></i> Presupuestos</a>
                        </li>
                      </ul>
                    </div>

                    <a href="/clientes/<%= cliente.id %>/seleccionar/list" class="btn btn-success-outline"><i class="fa fa-shopping-cart"></i> Comprar</a>

                  </td>
                </tr>
            <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end DataTables Example -->
</div>
