<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>
    <%= @title || "CMS Admin" %>
  </title>
  <link href="/stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/font-awesome.min.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/hightop-font.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/select2.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/morris.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/datatables.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/colorpicker.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/typeahead.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/summernote.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/ladda-themeless.min.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/style.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/color/gray.css" media="all" rel="alternate stylesheet" title="gray-theme" type="text/css"/>
  <link href="/stylesheets/color/green.css" media="all" rel="alternate stylesheet" title="green-theme" type="text/css"/>
  <link href="/stylesheets/color/orange.css" media="all" rel="alternate stylesheet" title="orange-theme" type="text/css"/>
  <link href="/stylesheets/color/magenta.css" media="all" rel="alternate stylesheet" title="magenta-theme" type="text/css"/>

  <%= stylesheet_link_tag "application", "dts_cms_admin/application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "dts_cms_admin/application", "data-turbolinks-track" => true %>

  <script src="/javascripts/selectivizr-min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.vmap.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.vmap.sampledata.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.vmap.world.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.bootstrap.wizard.js" type="text/javascript"></script>
  <script src="/javascripts/fullcalendar.min.js" type="text/javascript"></script>
  <script src="/javascripts/gcal.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="/javascripts/datatable-editable.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.easy-pie-chart.js" type="text/javascript"></script>
  <script src="/javascripts/excanvas.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.isotope.min.js" type="text/javascript"></script>
  <script src="/javascripts/isotope_extras.js" type="text/javascript"></script>
  <script src="/javascripts/modernizr.custom.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.fancybox.pack.js" type="text/javascript"></script>
  <script src="/javascripts/select2.js" type="text/javascript"></script>
  <script src="/javascripts/styleswitcher.js" type="text/javascript"></script>
  <script src="/javascripts/wysiwyg.js" type="text/javascript"></script>
  <script src="/javascripts/typeahead.js" type="text/javascript"></script>
  <script src="/javascripts/summernote.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.inputmask.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-fileupload.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-datepicker.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-timepicker.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-colorpicker.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-switch.min.js" type="text/javascript"></script>
  <script src="/javascripts/typeahead.js" type="text/javascript"></script>
  <script src="/javascripts/spin.min.js" type="text/javascript"></script>
  <script src="/javascripts/moment.js" type="text/javascript"></script>
  <script src="/javascripts/mockjax.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-editable.min.js" type="text/javascript"></script>
  <script src="/javascripts/xeditable-demo-mock.js" type="text/javascript"></script>
  <script src="/javascripts/xeditable-demo.js" type="text/javascript"></script>
  <script src="/javascripts/address.js" type="text/javascript"></script>
  <script src="/javascripts/daterange-picker.js" type="text/javascript"></script>
  <script src="/javascripts/date.js" type="text/javascript"></script>
  <script src="/javascripts/morris.min.js" type="text/javascript"></script>
  <script src="/javascripts/skycons.js" type="text/javascript"></script>
  <script src="/javascripts/fitvids.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.sparkline.min.js" type="text/javascript"></script>
  <script src="/javascripts/dropzone.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.nestable.js" type="text/javascript"></script>
  <script src="/javascripts/main.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
</head>
<body class="page-header-fixed bg-1 carrito">
<div id="wrap">
  <header>
    <%= render "application/menu" %>
  </header>
  <div class="container">

    <div class="row">
      <div class="col-sm-12 text-center">
        <%= render 'messages' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= yield %>
      </div>
    </div>

  </div>
</div>


</body>
</html>
