<div class="row ">
  <div class="page-title col-md-4">
    <h1>
      Carrito
    </h1>
  </div>
  <div class="col-md-4 pull-right">
    <div class="widget-container fluid-height clearfix">
      <%= form_tag talleres_suplementos_path, id: "suplementos" do %>
      <div class="heading">
        <i class="fa fa-signal"></i>Suplementos <a href="javascript:{}" onclick="document.getElementById('suplementos').submit(); return false;" class="fa fa-refresh pull-right"></a>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <label class="checkbox-inline">
            <input name="montaje" id="montaje" type="checkbox" <%= "checked" if @prefs.montaje %>><span>Montaje</span>
          </label>
          <label class="checkbox-inline">
            <input name="aleacion" id="aleacion" type="checkbox" <%= "checked" if @prefs.aleacion %>><span>Aleacion</span>
          </label>
          <label class="checkbox-inline">
            <input name="nitrogeno" id="nitrogeno" type="checkbox" <%= "checked" if @prefs.nitrogeno %>><span>Nitrogeno</span>
          </label>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% if @shopping_cart.items.size >= 1 %>

    <div class="row">
      <div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
          <div class="heading">
            <i class="fa fa-filter"></i>Tu compra, esta seleccionado el cliente <%= @cliente.nombre_empresa %>
          </div>
          <div class="widget-content padded clearfix">

            <div class="row">
              <div class="col-sm-8">
                <table class="table">
                  <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>Precio</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-right">Total</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>

                  <% @shopping_cart.items.each do |item| %>
                      <% neumatico = Tyre.find(item.item_id) %>
                      <tr ng:repeat="item in invoice.items" class="ng-scope">
                        <td class="vert-align"><img src="/images/thumbnails/<%= neumatico.foto %>"></td>
                        <td><strong><%= neumatico.marca %></strong> <%= neumatico.modelo %> <em>
                          <%= neumatico.caracteristica_1 %>
                          <%= neumatico.caracteristica_2 %>
                          <%= neumatico.caracteristica_3 %></em>
                          <%= neumatico.anchura %>/<%= neumatico.altura %>
                          /<%= neumatico.diametro %> <%= neumatico.carga %> <%= neumatico.velocidad %> </td>
                        <td class="vert-align ng-binding"><%= number_to_currency(neumatico.pvp_t1_iva, unit: "") %>€
                        </td>
                        <td class="text-center vert-align">

                          <%= form_tag("carrito/modificar/#{item.id}") do -%>
                              <%= select_tag "qty", options_for_select(1..10, selected: item.quantity), onchange: "this.form.submit();", class: "form-control" %>
                          <% end -%>

                        </td>
                        <td class="text-right vert-align ng-binding"><%= number_to_currency((neumatico.pvp_t1_iva * item.quantity), unit: "") %>
                          €
                        </td>
                        <td class="text-center vert-align">
                          <a href="/carrito/eliminar/<%= item.id %>"><i class="fa fa-trash-o"></i></a></td>
                      </tr>
                  <% end %>

                  </tbody>
                </table>

              </div>

              <div class="col-sm-4  ng-scope" ng-if="total() &gt; 0">
                <table class="table">
                  <thead>
                  <tr>
                    <th colspan="3" class="text-center">Totales</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Gestión NFU (B) X<%= @shopping_cart.total_unique_items %>:</td>
                    <td></td>
                    <td class="text-right">
                      <b class="ng-binding"> <%= number_to_currency(@shopping_cart.total_nfu, unit: "") %> €</b></td>
                  </tr>

                  <% if @shopping_cart.montaje %>
                  <tr>
                    <td>Montaje X<%= @shopping_cart.total_unique_items %>:</td>
                    <td></td>
                    <td class="text-right">
                      <b class="ng-binding"> <%= number_to_currency(@shopping_cart.total_montaje, unit: "") %> €</b></td>
                  </tr>
                  <% end %>
                  <% if @shopping_cart.aleacion %>
                  <tr>
                    <td>Aleación X<%= @shopping_cart.total_unique_items %>:</td>
                    <td></td>
                    <td class="text-right">
                      <b class="ng-binding"> <%= number_to_currency(@shopping_cart.total_aleacion, unit: "") %> €</b></td>
                  </tr>
                  <% end %>
                  <% if @shopping_cart.nitrogeno %>
                  <tr>
                    <td>Nitrogeno X<%= @shopping_cart.total_unique_items %>:</td>
                    <td></td>
                    <td class="text-right">
                      <b class="ng-binding"> <%= number_to_currency(@shopping_cart.total_nitrogeno, unit: "") %> €</b></td>
                  </tr>
                  <% end %>

                  <tr>
                    <td>Base Imponible:</td>
                    <td></td>
                    <td class="text-right ng-binding"><%= number_to_currency(@shopping_cart.base_imponible, unit: "") %>
                      €
                    </td>
                  </tr>
                  <tr>
                    <td>IVA 21%:</td>
                    <td></td>
                    <td class="text-right ng-binding"><%= number_to_currency(@shopping_cart.iva, unit: "") %> €</td>
                  </tr>
                  <tr>
                    <td>Total:</td>
                    <td></td>
                    <td id="total" class="text-right ng-binding"><%= number_to_currency(@shopping_cart.total_general, unit: "") %>
                      €
                    </td>
                  </tr>
                  </tbody>
                </table>
                <a href="/pedidos/0/confirmar" class="btn btn-success form-control"><i class="fa fa-check"></i> Confirmar el
                  pedido</a>
              </div>

            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12 text-center show-more">
                <a href="/taller/neumaticos" class="btn btn-primary-outline"><i class="fa fa-step-backward"></i> Regresar al listado</a>

                <a href="/carrito/vaciar" class="btn btn-default"><i class="fa fa-trash-o"></i> Cancelar y regresar al
                  listado</a>
                <a href="/carrito/guardar_como_presupuesto" class="btn btn-info"><i class="fa fa-save"></i> Guardar como
                  presupuesto</a>

                <a class="btn btn-primary btn" data-toggle="modal" href="components.html#myModal"><i class="fa fa-user"></i> Cliente</a>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
              <h4 class="modal-title">
                Selecciona un cliente para crear el pedido
              </h4>
            </div>
            <div class="modal-body">
              <h3>
                Busca un cliente existente
              </h3>

              <p>
                <%= form_tag("clientes/seleccionar") do -%>
                    <%= text_field_tag :nombre, nil, class: "form-control clients typeahead tt-query" %>
                    <!--<input autocomplete="off" class="form-control clients typeahead tt-query" dir="auto" placeholder="Buscar por nombre" spellcheck="false" type="text">-->
                    <button type="submit" class="btn btn-primary">
                      <i class="fa fa-search"></i> Buscar
                    </button>
                <% end -%>
              </p>

              <hr>
              <h3>Agregar un nuevo cliente</h3>


              <form action="#" class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-md-2">Nombre</label>

                  <div class="col-md-7">
                    <input class="form-control" placeholder="Text" type="text">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-2">NIF</label>

                  <div class="col-md-7">
                    <input class="form-control" placeholder="Text" type="text">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-2">Teléfono</label>

                  <div class="col-md-7">
                    <input class="form-control" placeholder="Text" type="text">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-2">EMail</label>

                  <div class="col-md-7">
                    <div class="input-group">
                      <span class="input-group-addon">@</span><input class="form-control" placeholder="Username" type="text">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-2">Comentarios</label>

                  <div class="col-md-7">
                    <textarea class="form-control" rows="3"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2"></label>

                  <div class="col-md-7">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                </div>
              </form>

              <hr>
              <h3>Continuar el pedido sin seleccionar cliente</h3>
              <a href="/pedido/0/confirmar" class="btn btn-success form-control"><i class="fa fa-check"></i> Confirmar el
                pedido</a>
            </div>

          </div>
        </div>
      </div>
    </div>

<% else %>

    <div class="row">
      <div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
          <div class="heading">
            <i class="fa fa-filter"></i>Tu compra, esta seleccionado el cliente <%= @cliente.nombre_empresa %>
          </div>

          <div class="col-lg-12">
            <div class="jumbotron"> No hay ningun articulo en el carrito</div>

            <hr>
            <div class="row">
              <div class="col-sm-12 text-center show-more">
                <a href="/taller/neumaticos" class="btn btn-primary-outline form-control"><i class="fa fa-caret-square-o-left"></i> Regresar al listado</a>
              </div>

            </div>
            <div class="row"> </div>


          </div>
        </div>
      </div>

      <div class="row"> </div>

<% end %>
<!--
   ###
   #  PRESUPUESTOS
   #
-->
<div class="row"></div>

<% if @cliente.presupuestos.size >= 1 %>
    <div class="page-title">
      <h1>
        Presupuestos
      </h1>
    </div>
<% end %>

<% @cliente.presupuestos.each do |presupuesto| %>
    <div class="row">
      <div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
          <div class="heading">
            <i class="fa fa-filter"></i><strong>Presupuesto Nº <%= presupuesto.id %></strong> - <em><%= datetime(presupuesto.created_at) %></em>
          </div>
          <div class="widget-content padded clearfix">

            <div class="row">
              <div class="col-sm-8">
                <table class="table">
                  <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>Precio</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-right">Total</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>

                  <% presupuesto.items.each do |item| %>
                      <% neumatico = Tyre.find(item.item_id) %>
                      <tr ng:repeat="item in invoice.items" class="ng-scope">
                        <td class="vert-align"><img src="/images/thumbnails/<%= neumatico.foto %>"></td>
                        <td><strong><%= neumatico.marca %></strong> <%= neumatico.modelo %> <em>
                          <%= neumatico.caracteristica_1 %>
                          <%= neumatico.caracteristica_2 %>
                          <%= neumatico.caracteristica_3 %></em>
                          <%= neumatico.anchura %>/<%= neumatico.altura %>
                          /<%= neumatico.diametro %> <%= neumatico.carga %> <%= neumatico.velocidad %> </td>
                        <td class="vert-align ng-binding"><%= number_to_currency(neumatico.pvp_t1_iva, unit: "") %>€
                        </td>
                        <td class="text-center vert-align"><%= item.quantity %></td>
                        <td class="text-right vert-align ng-binding"><%= number_to_currency((neumatico.pvp_t1_iva * item.quantity), unit: "") %>
                          €
                        </td>
                        <td class="text-center vert-align">
                      </tr>
                  <% end %>

                  </tbody>
                </table>

              </div>

              <div class="col-sm-4  ng-scope" ng-if="total() &gt; 0">
                <table class="table">
                  <thead>
                  <tr>
                    <th colspan="3" class="text-center">Totales</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Gestión NFU (B) X<%= presupuesto.total_unique_items %>:</td>
                    <td></td>
                    <td class="text-right">
                      <b class="ng-binding"> <%= number_to_currency(presupuesto.total_nfu, unit: "") %> €</b></td>
                  </tr>
                  <tr>
                    <td>Base Imponible:</td>
                    <td></td>
                    <td class="text-right ng-binding"><%= number_to_currency(presupuesto.base_imponible, unit: "") %>
                      €
                    </td>
                  </tr>
                  <tr>
                    <td>IVA 21%:</td>
                    <td></td>
                    <td class="text-right ng-binding"><%= number_to_currency(presupuesto.iva, unit: "") %> €</td>
                  </tr>
                  <tr>
                    <td>Total:</td>
                    <td></td>
                    <td id="total" class="text-right ng-binding"><%= number_to_currency(presupuesto.total_general, unit: "") %>
                      €
                    </td>
                  </tr>
                  </tbody>
                </table>

                <a href="#" class="btn btn-default"  onclick="javascript:window.print();">&nbsp;&nbsp;&nbsp;<i class="fa fa-print"></i></a>

                <a href="mailto:info@ridercloud.com" class="btn btn-default">&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i></a>


                <a href="/carrito/eliminar_presupuesto/<%= presupuesto.id %>" class="btn btn-default">&nbsp;&nbsp;&nbsp;<i class="fa fa-trash-o"></i></a>
                <a href="/pedidos/<%= presupuesto.id %>/confirmar" class="btn btn-success col-sm1"><i class="fa fa-check"></i> Confirmar</a>

              </div>

            </div>
            <hr>
          </div>
        </div>
      </div>

    </div>
<% end %>