<div class="container-fluid main-content">

  <div class="page-title chart-container">
    <h1>
      Distribuidores
    </h1>
  </div>

  <div class="col-lg-12">
    <div class="widget-container fluid-height clearfix">
      <div class="heading">
        <i class="fa fa-table"></i>Listado de Distribuidores
      </div>
      <div class="widget-content padded clearfix">
        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th colspan=2 width=130>Cierre de este mes</th>
            <th colspan=2 width=130>Pendiente</th>
            <th width=65></th>
            <th width=65></th>
          </tr>
          <tr>
            <th>Nombre</th>
            <th>Cobrar</th>
            <th>Pagar</th>
            <th>Recibir</th>
            <th>Enviar</th>
            <th width="150px">Límite Concedido</th>
            <th width="150px">Cambiar límite</th>
          </tr>
          </thead>
          <tr>
            <td>Distri-1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons">
                <a class="table-actions" href="#"><i class="fa fa-edit"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>Distri-2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons">
                <a class="table-actions" href="#"><i class="fa fa-edit"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>Distri-3</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons">
                <a class="table-actions" href="#"><i class="fa fa-edit"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>Distri-4</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons">
                <a class="table-actions" href="#"><i class="fa fa-edit"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>Distri-5</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons">
                <a class="table-actions" href="#"><i class="fa fa-edit"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>Distri-6</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons">
                <a class="table-actions" href="#"><i class="fa fa-edit"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>Distri-7</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons">
                <a class="table-actions" href="#"><i class="fa fa-edit"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>Distri-8</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons">
                <a class="table-actions" href="#"><i class="fa fa-edit"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>Distri-9</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons">
                <a class="table-actions" href="#"><i class="fa fa-edit"></i></a>
              </div>
            </td>
          </tr>
          <tr>
            <td>Distri-10</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons">
                <a class="table-actions" href="#"><i class="fa fa-edit"></i></a>
              </div>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>