<div class="container-fluid main-content">
<div class="page-title">
  <h1>
    Pedidos
  </h1>
</div>
<!-- DataTables Example -->
<div class="row">
<div class="col-lg-12">
<div class="widget-container fluid-height clearfix">
<div class="heading">
  <i class="fa fa-table"></i>Listando pedidos
</div>
<div class="widget-content padded clearfix">
<div id="dataTable1_wrapper" class="dataTables_wrapper" role="grid">
<div class="dataTables_filter" id="dataTable1_filter"></div>
<table class="table table-bordered table-striped dataTable" id="dataTable1" aria-describedby="dataTable1_info">
<thead>
<tr role="row">
  <th class="check-header hidden-xs sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="

            " style="width: 17px;">
    <label><input id="checkAll" name="checkAll" type="checkbox"><span></span></label>
  </th>
  <th class="sorting" role="columnheader" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" aria-label="
              # Pedido
            : activate to sort column ascending" style="width: 87px;">
    # Pedido
  </th>
  <th class="sorting" role="columnheader" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" aria-label="
              Cliente
            : activate to sort column ascending" style="width: 348px;">
    Cliente
  </th>
  <th class="hidden-xs sorting" role="columnheader" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" aria-label="
              Fecha
            : activate to sort column ascending" style="width: 211px;">
    Fecha
  </th>
  <th class="hidden-xs sorting" role="columnheader" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" aria-label="
              Importe
            : activate to sort column ascending" style="width: 89px;">
    Importe
  </th>
  <th class="hidden-xs sorting" role="columnheader" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" aria-label="
              Estado
            : activate to sort column ascending" style="width: 119px;">
    Estado
  </th>
  <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 72px;"></th>
</tr>
</thead>

<tbody role="alert" aria-live="polite" aria-relevant="all">
<tr class="odd">
  <td class="check hidden-xs  sorting_1">
    <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
  </td>
  <td class=" ">
    110971
  </td>
  <td class=" ">
    {pixind}
  </td>
  <td class="hidden-xs ">
    25/07/2011 11:20AM
  </td>
  <td class="hidden-xs ">
    578.20 €
  </td>
  <td class="hidden-xs ">
    <span class="label label-success">Aprobado</span>
  </td>
  <td class="actions ">
    <div class="action-buttons">
      <a class="table-actions" href="/pedidos/110971"><i class="fa fa-eye"></i></a>
      <a class="table-actions" href=""><i class="fa fa-trash-o"></i></a>
    </div>
  </td>
</tr>
<tr class="even">
  <td class="check hidden-xs  sorting_1">
    <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
  </td>
  <td class=" ">
    110972
  </td>
  <td class=" ">
    {pixind}
  </td>
  <td class="hidden-xs ">
    25/07/2011 02:46PM
  </td>
  <td class="hidden-xs ">
    480.45 €
  </td>
  <td class="hidden-xs ">
    <span class="label label-success">Aprobado</span>
  </td>
  <td class="actions ">
    <div class="action-buttons">
      <a class="table-actions" href="/pedidos/110972"><i class="fa fa-eye"></i></a>
      <a class="table-actions" href=""><i class="fa fa-trash-o"></i></a>
    </div>
  </td>
</tr>
<tr class="odd">
  <td class="check hidden-xs  sorting_1">
    <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
  </td>
  <td class=" ">
    110973
  </td>
  <td class=" ">
    {pixind}
  </td>
  <td class="hidden-xs ">
    25/07/2011 04:37PM
  </td>
  <td class="hidden-xs ">
    264.64 €
  </td>
  <td class="hidden-xs ">
    <span class="label label-success">Aprobado</span>
  </td>
  <td class="actions ">
    <div class="action-buttons">
      <a class="table-actions" href="/pedidos/110973"><i class="fa fa-eye"></i></a>
      <a class="table-actions" href=""><i class="fa fa-trash-o"></i></a>
    </div>
  </td>
</tr>
<tr class="even">
  <td class="check hidden-xs  sorting_1">
    <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
  </td>
  <td class=" ">
    110974
  </td>
  <td class=" ">
    {pixind}
  </td>
  <td class="hidden-xs ">
    28/07/2011 09:57AM
  </td>
  <td class="hidden-xs ">
    155.10 €
  </td>
  <td class="hidden-xs ">
    <span class="label label-success">Aprobado</span>
  </td>
  <td class="actions ">
    <div class="action-buttons">
      <a class="table-actions" href="/pedidos/110974"><i class="fa fa-eye"></i></a>
      <a class="table-actions" href=""><i class="fa fa-trash-o"></i></a>
    </div>
  </td>
</tr>
<tr class="odd">
  <td class="check hidden-xs  sorting_1">
    <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
  </td>
  <td class=" ">
    110975
  </td>
  <td class=" ">
    NEUMATICOS GERMAN S.L.
  </td>
  <td class="hidden-xs ">
    28/07/2011 10:14AM
  </td>
  <td class="hidden-xs ">
    53.77 €
  </td>
  <td class="hidden-xs ">
    <span class="label label-success">Aprobado</span>
  </td>
  <td class="actions ">
    <div class="action-buttons">
      <a class="table-actions" href="/pedidos/110975"><i class="fa fa-eye"></i></a>
      <a class="table-actions" href=""><i class="fa fa-trash-o"></i></a>
    </div>
  </td>
</tr>
<tr class="even">
  <td class="check hidden-xs  sorting_1">
    <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
  </td>
  <td class=" ">
    110976
  </td>
  <td class=" ">
    JUAN ARAGON RAMIREZ
  </td>
  <td class="hidden-xs ">
    28/07/2011 11:12AM
  </td>
  <td class="hidden-xs ">
    53.77 €
  </td>
  <td class="hidden-xs ">
    <span class="label label-success">Aprobado</span>
  </td>
  <td class="actions ">
    <div class="action-buttons">
      <a class="table-actions" href="/pedidos/110976"><i class="fa fa-eye"></i></a>
      <a class="table-actions" href=""><i class="fa fa-trash-o"></i></a>
    </div>
  </td>
</tr>
<tr class="odd">
  <td class="check hidden-xs  sorting_1">
    <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
  </td>
  <td class=" ">
    110977
  </td>
  <td class=" ">
    {pixind}
  </td>
  <td class="hidden-xs ">
    28/07/2011 11:22AM
  </td>
  <td class="hidden-xs ">
    53.77 €
  </td>
  <td class="hidden-xs ">
    <span class="label label-success">Aprobado</span>
  </td>
  <td class="actions ">
    <div class="action-buttons">
      <a class="table-actions" href="/pedidos/110977"><i class="fa fa-eye"></i></a>
      <a class="table-actions" href=""><i class="fa fa-trash-o"></i></a>
    </div>
  </td>
</tr>
<tr class="even">
  <td class="check hidden-xs  sorting_1">
    <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
  </td>
  <td class=" ">
    110978
  </td>
  <td class=" ">
    JUAN ARAGON RAMIREZ
  </td>
  <td class="hidden-xs ">
    28/07/2011 12:37PM
  </td>
  <td class="hidden-xs ">
    70.29 €
  </td>
  <td class="hidden-xs ">
    <span class="label label-success">Aprobado</span>
  </td>
  <td class="actions ">
    <div class="action-buttons">
      <a class="table-actions" href="/pedidos/110978"><i class="fa fa-eye"></i></a>
      <a class="table-actions" href=""><i class="fa fa-trash-o"></i></a>
    </div>
  </td>
</tr>
<tr class="odd">
  <td class="check hidden-xs  sorting_1">
    <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
  </td>
  <td class=" ">
    110979
  </td>
  <td class=" ">
    {pixind}
  </td>
  <td class="hidden-xs ">
    28/07/2011 01:24PM
  </td>
  <td class="hidden-xs ">
    53.77 €
  </td>
  <td class="hidden-xs ">
    <span class="label label-success">Aprobado</span>
  </td>
  <td class="actions ">
    <div class="action-buttons">
      <a class="table-actions" href="/pedidos/110979"><i class="fa fa-eye"></i></a>
      <a class="table-actions" href=""><i class="fa fa-trash-o"></i></a>
    </div>
  </td>
</tr>
<tr class="even">
  <td class="check hidden-xs  sorting_1">
    <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
  </td>
  <td class=" ">
    110980
  </td>
  <td class=" ">
    {pixind}
  </td>
  <td class="hidden-xs ">
    28/07/2011 01:57PM
  </td>
  <td class="hidden-xs ">
    248.13 €
  </td>
  <td class="hidden-xs ">
    <span class="label label-success">Aprobado</span>
  </td>
  <td class="actions ">
    <div class="action-buttons">
      <a class="table-actions" href="/pedidos/110980"><i class="fa fa-eye"></i></a>
      <a class="table-actions" href=""><i class="fa fa-trash-o"></i></a>
    </div>
  </td>
</tr>
</tbody>
</table>
<div class="dataTables_paginate paging_full_numbers" id="dataTable1_paginate">
  <a tabindex="0" class="first paginate_button paginate_button_disabled" id="dataTable1_first">First</a><a tabindex="0" class="previous paginate_button paginate_button_disabled" id="dataTable1_previous">Previous</a><span><a tabindex="0" class="paginate_active">1</a><a tabindex="0" class="paginate_button">2</a><a tabindex="0" class="paginate_button">3</a><a tabindex="0" class="paginate_button">4</a><a tabindex="0" class="paginate_button">5</a></span><a tabindex="0" class="next paginate_button" id="dataTable1_next">Next</a><a tabindex="0" class="last paginate_button" id="dataTable1_last">Last</a>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- end DataTables Example -->
</div>


