<div class="page-title">
  <h1> Preferencias </h1>
</div>
<div class="col-lg-12">
<div class="widget-container fluid-height">
<div class="heading"> <i class="fa fa-edit"></i>Datos y preferencias de <%= @taller.nombre_empresa %> </div>
<div class="widget-content">
<div class="wizard" id="wizard">
<div class="padded">
<ul class="wizard-nav nav nav-pills">
  <li class="active"> <a data-toggle="tab" href="form-advanced.html#tab1">1</a> </li>
  <li> <a data-toggle="tab" href="form-advanced.html#tab2">2 </a> </li>
  <li> <a data-toggle="tab" href="form-advanced.html#tab3">3</a> </li>
</ul>
<div class="progress progress-striped active">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 33.33333333333333%;"></div>
</div>
<div class="tab-content">
<div class="tab-pane active" id="tab1">
  <hr/>
  <h2> Datos própios del taller </h2>
  <hr/>
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-md-3" for="nombre">Nombre Taller</label>
      <div class="col-md-8">
        <input class="form-control" id="nombre" value="<%= @taller.nombre_empresa %>" type="string">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="documento">Documento </label>
      <div class="col-md-8">
        <input class="form-control" id="documento" value="<%= @taller.dni %>" type="string">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="calle">Calle </label>
      <div class="col-md-8">
        <input class="form-control" id="calle" value="<%= @taller.calle %>" type="string">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="cp">Código Postal </label>
      <div class="col-md-8">
        <input class="form-control" id="cp" value="<%= @taller.codigo_postal %>" type="string">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="localidad">Localidad </label>
      <div class="col-md-8">
        <input class="form-control" id="localidad" value="<%= @taller.localidad %>" type="string">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="provincia">Provincia </label>
      <div class="col-md-8">
        <input class="form-control" id="provincia" value="<%= @taller.provincia %>" type="string">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="pais">País</label>
      <div class="col-md-8">
        <input class="form-control" id="pais" value="España" type="string">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="email">Email address</label>
      <div class="col-md-8">
        <input class="form-control" id="name" value="<%= @taller.email %>" type="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="telf">Telf </label>
      <div class="col-md-8">
        <input class="form-control" id="telf" value="<%= @taller.telefono %>" type="string">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="contacto_nombre">Contacto Nombre</label>
      <div class="col-md-8">
        <input class="form-control" id="contacto_nombre" value="Jose Pérez" type="string">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3" for="contacto_cargo">Contacto Cargo </label>
      <div class="col-md-8">
        <input class="form-control" id="contacto_cargo" value="Gerente" type="string">
      </div>
    </div>
    <hr/>
  </form>
</div>
<div class="tab-pane" id="tab2">
  <hr/>
  <h2> Restricciones </h2>
  <form role="form" class="form-horizontal">
    <hr/>
    <div class="form-group">
      <label class="control-label col-md-4" for="nombre">Llanta máxima</label>
      <div class="col-md-4">
        <select class="form-control" id="filtros_diametro" name="filtros[diametro]">
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option selected="selected" value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="22">22</option>
        </select>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label col-md-6" for="nombre">Runflat</label>
          <div class="col-md-2">
            <div class="toggle-switch">
              <input checked="" type="checkbox">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-6" for="nombre">Turismo</label>
          <div class="col-md-2">
            <div class="toggle-switch">
              <input checked="" type="checkbox">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-6" for="nombre">Moto</label>
          <div class="col-md-2">
            <div class="toggle-switch">
              <input checked="" type="checkbox">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-6" for="nombre">Camión</label>
          <div class="col-md-2">
            <div class="toggle-switch">
              <input checked="" type="checkbox">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label col-md-3" for="nombre">Agricola</label>
          <div class="col-md-8">
            <div class="toggle-switch">
              <input checked="" type="checkbox">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3" for="nombre">Quad</label>
          <div class="col-md-8">
            <div class="toggle-switch">
              <input checked="" type="checkbox">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3" for="nombre">Carretillas</label>
          <div class="col-md-8">
            <div class="toggle-switch">
              <input checked="" type="checkbox">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3" for="nombre">Nitrógeno</label>
          <div class="col-md-8">
            <div class="toggle-switch">
              <input checked="" type="checkbox">
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
  </form>
</div>
<div class="tab-pane" id="tab3">
  <hr/>
  <h2> Costes añadidos </h2>
  <hr/>
  <form role="form" class="form-horizontal">

    <h3>Precios</h3>


    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label col-md-6" for="nombre">Por Hora</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="25" type="string">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label col-md-6" for="nombre">Extra Llanta de aleación</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="5" type="string">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label col-md-7" for="nombre">Extra inflado de nitrogeno</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="7.50" type="string">
          </div>
        </div>
      </div>
    </div>

    <hr />
    <h3>Montaje</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label col-md-6" for="nombre">Turismo</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="5" type="string">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-6" for="nombre">Moto</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="5" type="string">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-6" for="nombre">Camión</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="5" type="string">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label col-md-3" for="nombre">Agricola</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="5" type="string">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3" for="nombre">Quad</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="5" type="string">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3" for="nombre">Carretillas</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="5" type="string">
          </div>
        </div>
      </div>
    </div>
    <hr />
    <h3>Precios Web <small>(Margen a Particular)</small></h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label col-md-6" for="nombre">Llanta x - y</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="" type="string">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-6" for="nombre">Llanta x - y</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="" type="string">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-6" for="nombre">Llanta x - y</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="" type="string">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label col-md-3" for="nombre">Llanta x - y</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="" type="string">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3" for="nombre">Llanta x - y</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="" type="string">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3" for="nombre">Llanta x - y</label>
          <div class="col-md-3">
            <input class="form-control" id="nombre" value="" type="string">
          </div>
        </div>
      </div>
    </div>


    <hr/>

  </form>
</div>
</div>
</div>
<div class="pager">
  <div class="btn btn-default-outline btn-previous disabled"> <i class="fa fa-long-arrow-left"></i>Regresar </div>
  <div class="btn btn-success-outline"> <i class="fa fa-save"></i>Guardar </div>
  <div class="btn btn-primary-outline btn-next"> Continuar<i class="fa fa-long-arrow-right"></i> </div>
</div>
</div>
</div>
</div>
</div>
