<div class="container-fluid main-content">
  <div class="page-title">
    <h1>
      Talleres
    </h1>
  </div>
  <!-- DataTables Example -->
  <div class="row">
    <div class="col-lg-12">
      <div class="widget-container fluid-height clearfix">
        <div class="heading">
          <i class="fa fa-table"></i> Listando todos los talleres
        </div>
        <div class="widget-content padded clearfix">

          <table class="table table-bordered table-striped" id="dataTable1">
            <thead>
            <th>
              Nombre
            </th>
            <th>
              Telefono
            </th>
            <th class="hidden-xs">
              Movil
            </th>
            <th class="hidden-xs">
              Email
            </th>
            <th class="hidden-xs">

            </th>
            </thead>
            <tbody>
            <% @clientes.each do |cliente| %>
                <tr>
                  <td>
                    <%= cliente.nombre_empresa %>
                  </td>
                  <td>
                    <%= cliente.telefono %>
                  </td>
                  <td class="hidden-xs">
                    <%= cliente.movil %>
                  </td>
                  <td class="hidden-xs">
                    <%= cliente.email %>
                  </td>
                  <td class="hidden-xs">
                    <div class="btn-group">

                      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Acciones<span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="<%= admin_preferencias_path %>"><i class="fa fa-eye"></i> Ver</a>
                        </li>
                        <li>
                          <a href="<%= admin_preferencias_path %>"><i class="fa fa-edit"></i> Modificar</a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-shopping-cart"></i> Pedidos</a>
                        </li>
                      </ul>
                    </div>

                  </td>
                </tr>
            <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end DataTables Example -->
</div>
