.navbar .logo {
	background: url(../custom/logo.png);
    display: block;
    height: 30px;
    margin: 5px 15px 0 0;
    text-indent: -9999px;
    width: 150px;
	}
.logo-login1 {
	background: url(../custom/logo.png);
    display: block;
    height:30px;
    margin: 5px auto;
    text-indent: -9999px;
    width: 150px;
	}
.logo-login2 {
	background: url(../custom/logo-login2.png);
    display: block;
    height: 120px;
    margin: 5px auto;
    text-indent: -9999px;
    width: 150px;
	}
body.login1 {background:url("../custom/bg-login1.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0) !important}