<div class="container-fluid main-content">
  <div class="page-title">
    <h1>
      Neumaticos
    </h1>
  </div>
  <!-- DataTables Example -->
  <div class="row">
    <div class="col-lg-12">
      <div class="widget-container fluid-height clearfix">
        <div class="heading">
          <i class="fa fa-table"></i>Pendientes de entrar al taller
        </div>
        <div class="widget-content padded clearfix">
          <table class="table table-bordered table-striped" id="EXdataTableCatalog">
            <thead>
            <th>
              # Pedido
            </th>
            <th>
              Fecha
            </th>
            <th class="hidden-xs">
              Cliente
            </th>
            <th class="hidden-xs">
              Marca
            </th>
            <th>
              Modelo
            </th>
            <th>
              Dimensiones
            </th>
            <th>
              Unidades
            </th>
            <th>
              Acciones
            </th>
            </thead>
            <tbody>


            <% @pendientes_entrar.each do |pedido| %>

                <% pedido.pedido_detalles.each do |neumatico| %>
                    <tr>
                      <td><%= pedido.id %></td>
                      <td><%= date(pedido.fecha_alta) %></td>
                      <td><%= pedido.cliente.nombre_empresa %></td>
                      <td>
                        <%= neumatico.marca %>
                      </td>
                      <td>
                        <%= neumatico.modelo %>
                        <%= neumatico.caracteristica_1 %>
                        <%= neumatico.caracteristica_2 %>
                        <%= neumatico.caracteristica_3 %>
                      </td>
                      <td class="hidden-xs">
                        <%= neumatico.anchura %>/<%= neumatico.altura %>
                        /<%= neumatico.diametro %> <%= neumatico.carga %> <%= neumatico.velocidad %>
                      </td>
                      <td>
                        <%= neumatico.unidades %>
                      </td>
                      <td class="actions">
                        <div class="action-buttons">
                          <a class="table-actions" href="/pedidos/<%= pedido.id %>"><i class="fa fa-eye"></i></a>
                          <a class="table-actions" href="/taller/pedido_recibido/<%= pedido.id %>"><i class="fa fa-check"></i></a>
                        </div>
                      </td>
                <% end %>
                </tr>
            <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end DataTables Example -->
</div>

  <!-- DataTables Example -->
  <div class="row">
    <div class="col-lg-12">
      <div class="widget-container fluid-height clearfix">
        <div class="heading">
          <i class="fa fa-table"></i>Pendientes de Montar
        </div>
        <div class="widget-content padded clearfix">
          <table class="table table-bordered table-striped" id="dataTableCatalog1">
            <thead>
            <th>
              # Pedido
            </th>
            <th>
              Fecha
            </th>
            <th class="hidden-xs">
              Cliente
            </th>
            <th class="hidden-xs">
              Marca
            </th>
            <th>
              Modelo
            </th>
            <th>
              Dimensiones
            </th>
            <th>
              Unidades
            </th>
            <th>
              Acciones
            </th>
            </thead>
            <tbody>

            <% @pendientes_montar.each do |pedido| %>

                <% pedido.pedido_detalles.each do |neumatico| %>
                    <tr>
                      <td><%= pedido.id %></td>
                      <td><%= date(pedido.fecha_alta) %></td>
                      <td><%= pedido.cliente.nombre_empresa %></td>
                      <td>
                        <%= neumatico.marca %>
                      </td>
                      <td>
                        <%= neumatico.modelo %>
                        <%= neumatico.caracteristica_1 %>
                        <%= neumatico.caracteristica_2 %>
                        <%= neumatico.caracteristica_3 %>
                      </td>
                      <td class="hidden-xs">
                        <%= neumatico.anchura %>/<%= neumatico.altura %>
                        /<%= neumatico.diametro %> <%= neumatico.carga %> <%= neumatico.velocidad %>
                      </td>
                      <td>
                        <%= neumatico.unidades %>
                      </td>
                      <td class="actions">
                        <div class="action-buttons">
                          <a class="table-actions" href="/pedidos/<%= pedido.id %>"><i class="fa fa-eye"></i></a>
                          <a class="table-actions" href="/taller/pedido_montado/<%= pedido.id %>"><i class="fa fa-check"></i></a>
                        </div>
                      </td>
                <% end %>
                </tr>
            <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end DataTables Example -->
</div>

</div>

