<div class="page-title">
  <h1>
    Neumáticos
  </h1>
</div>


<div class="row">
  <div class="col-lg-12">
    <% if session[:taxes] %>
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-user"></i> &nbsp;&nbsp; <a href="<%= pedidos_cliente_path(@cliente) %>"><%= @cliente.nombre_empresa %></a>
      </li>
    </ul>
    <% end %>
    <% unless session[:taxes] %>
        <div class="alert alert-info">
          <button class="close" data-dismiss="alert" type="button">×</button><i class="fa fa-fw fa-warning"></i> <strong>Estas comprando para el taller, los precios del listado estan expresados sin iva y sin los margenes aplicados a los clientes.</strong>
        </div>
    <%end%>
    </div>

  <div class="col-lg-12">
    <div class="widget-container fluid-height">
      <div class="heading tabs">
        <i class="fa fa-filter"></i>Filtros
        <ul class="nav nav-tabs pull-right" data-tabs="tabs" id="tabs">
          <li class="active">
            <a data-toggle="tab" href="components.html#tab3"><i class="fa fa-road"></i><span>Turismo</span></a>
          </li>
          <li class="">
            <a data-toggle="tab" href="components.html#tab4"><i class="fa fa-circle"></i><span>Moto</span></a>
          </li>
          <li class="">
            <a data-toggle="tab" href="components.html#tab2"><i class="fa fa-truck"></i><span>Camión</span></a>
          </li>
          <li class="">
            <a data-toggle="tab" href="components.html#tab1"><i class="fa fa-leaf"></i><span>Agricola</span></a>
          </li>

        </ul>
      </div>
      <div class="tab-content padded" id="my-tab-content">
        <div class="tab-pane" id="tab4">
          <h3>
            Moto
          </h3>
          <p>
            No implementado
          </p>
        </div>
        <div class="tab-pane" id="tab1">
          <h3>
            Agrícola
          </h3>

          <p>
            No implementado
          </p>
        </div>
        <div class="tab-pane" id="tab2">
          <h3>
            Camión
          </h3>

          <p>
            No implementado
          </p>
        </div>
        <div class="tab-pane active" id="tab3">
          <h3>
            Filtros para Turismo
          </h3>

          <div class="row">
            <%= form_for(@filtros_form, as: :tienda, url: "/taller/neumaticos", :html => {id: "filtros", class: "form-horizontal"}) do |f| %>

                <div class="col-md-2">
                  <label class="control-label">Anchura</label>
                  <%= select(:filtros, :anchura, Filtros::ANCHURA, {:selected => @filtros.anchura}, {class: 'form-control'}) %>
                </div>

                <div class="col-md-2">
                  <label class="control-label">Altura</label>
                  <%= select(:filtros, :altura, Filtros::ALTURA, {:selected => @filtros.altura}, {class: 'form-control'}) %>
                </div>

                <div class="col-md-2">
                  <label class="control-label">Diametro</label>
                  <%= select(:filtros, :diametro, Filtros::DIAMETRO, {:selected => @filtros.diametro}, {class: 'form-control'}) %>
                </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label">Marca</label>
                    <%= select(:filtros, :marca, Filtros::MARCA.collect { |p| [p[:description], p[:value]] }, {selected: (@filtros.marca), include_blank: "Todos"}, {class: 'form-control'}) %>
                  </div>


                  <div class="col-md-2">
                    <label class="control-label">Carga</label>
                    <%= select(:filtros, :carga, Filtros::CARGA.collect { |p| [p[:description], p[:value]] }, {selected: (@filtros.carga), include_blank: "Todos"}, {class: 'form-control'}) %>
                  </div>

                  <div class="col-md-2">
                    <label class="control-label">Velocidad</label>
                    <%= select(:filtros, :velocidad, Filtros::VELOCIDAD.collect { |p| [p[:description], p[:value]] }, {selected: (@filtros.velocidad)}, {class: 'form-control'}) %>
                  </div>

                  <div class="col-md-2">
                    <label class="control-label">Temporada</label>
                    <%= select(:filtros, :temporada, Filtros::TEMPORADA.collect { |p| [p[:description], p[:value]] }, {selected: (@filtros.temporada), include_blank: "Todos"}, {class: 'form-control'}) %>
                  </div>

                  <div class="col-md-2">
                    <label class="control-label">Entega</label>
                    <%= select(:filtros, :entrega, [["Inmediata", 1], ["24/48Hs", 2]], {selected: (@filtros.entrega), include_blank: "Todos"}, {class: 'form-control'}) %>
                  </div>

                  <div class="col-md-2">
                    <button style="margin-top:25px;" type="submit" class="btn btn-primary ladda-button form-control" data-style="contract">
                      <i class="fa fa-search"></i> Buscar
                    </button>
                  </div>

            <% end -%>

            </div>

            </div>
      </div>
    </div>
  </div>
</div>

<div class="row">

</div>


<!-- /FILTROS COCHE -->

<div class="container-fluid main-content">
  <!-- DataTables Example -->
  <div class="row">
    <div class="col-lg-12">
      <div class="widget-container fluid-height clearfix">
        <div class="heading">
          <i class="fa fa-table"></i>Se han encontrado <%= @neumaticos.size %> coincidencias.
        </div>
        <div class="widget-content padded clearfix">
          <table class="table">
            <thead>
            <th>

            </th>
            <th>
              Marca
            </th>
            <th>
              Modelo
            </th>
            <th class="hidden-xs">
              Medidas
            </th>
            <th>
              Caracteristicas
            </th>
            <th>
              Stock
            </th>
            <th>Entrega</th>
            <th>
              PVP
            </th>
            <th></th>
            </thead>
            <tbody>

            <% @neumaticos.each do |neumatico| %>
                <tr>
                  <td style="position:relative;" class="col-md-1">
                    <i class="<%= neumatico.entrega == 1 ? "fa fa-flash" : "fa fa-truck" %> tooltip-trigger" data-placement="top" data-toggle="tooltip" style="width:45%" title="" data-original-title="Tiempo de entrega" style="position:absolute;"></i>
                    <a href="/taller/<%= neumatico.id %>/neumatico"> <img src="/images/thumbnails/<%= neumatico.foto %>"> </a>
                  </td>
                  <td class="col-md-1">
                    <img src="/images/logos_mini/<%= neumatico.marca.downcase %>.png">
                  </td>
                  <td class="col-md-1">
                    <strong><%= neumatico.modelo %></strong>
                    <em>
                      <%= neumatico.caracteristica_1 %>
                      <%= neumatico.caracteristica_2 %>
                      <%= neumatico.caracteristica_3 %></em>
                  </td>

                  <td class="hidden-xs">
                    <%= neumatico.anchura %>/<%= neumatico.altura %>
                    /<%= neumatico.diametro %> <%= neumatico.carga %> <%= neumatico.velocidad %>
                  </td>

                  <td>
                    <%= clima(neumatico.temporada).html_safe %>
                    <br/>
                    <%= "<i class='fa fa-volume-up'></i> #{neumatico.ruido}".html_safe if neumatico.ruido %> &nbsp;
                    <%= "<i class='fa fa-tint'></i> #{neumatico.mojado}".html_safe if neumatico.mojado %>     &nbsp;
                    <%= "<i class='fa fa-shield'></i> #{neumatico.resistencia}".html_safe if neumatico.resistencia %>
                  </td>
                  <td>
                    <%= neumatico.stock if neumatico.stock <= 10 %>
                    <%= "+10" if neumatico.stock > 10 %>
                  </td>
                  <!--ENTREGA-->
                  <td style="vertical-align: middle;">
                     <i class="fa fa-truck" style="color:#777;"> <%= if neumatico.entrega.to_i == 1 then "Urgente" else "24h" end %></i>
                  </td>
                  <!--ENTREGA-->
                  <td>
                    <strong style="color:green;font-size:150%;"><%= precio_neumatico(neumatico,session[:taxes]) %>
                      €</strong>
                  </td>

                  <td class="actions">


                    <form action="/shopping_cart?id=<%= neumatico.id %>" class="button_to" method="post">
                      <div>
                        <button type="submit" class="btn btn-success form-control">
                          <i class="fa fa-shopping-cart"></i> Añadir
                        </button>
                      </div>
                    </form>

                  </td>
                </tr>
            <% end %>

            </tbody>
          </table>

          <% unless @neumaticos.any? %>
              <div class="alert alert-warning">
                <button class="close" data-dismiss="alert" type="button">×</button>
                No Hay neumaticos que coincidan con la seleccion actual.
              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  <!-- end DataTables Example -->
</div>

</div>
