<div class="col-lg-12">
  <div class="widget-container fluid-height clearfix">

    <div class="heading">
      <i class="fa fa-table"></i>Detalle del neumático
    </div>

    <div class="col-lg-6">
      <img class="img-responsive" src="/images/neumatico.jpg"/>
      <hr/>
      <div class="row">

        <div class="col-lg-4"><img src="/images/logos/<%= @neumatico.marca.downcase %>.jpg"></div>

        <div class="col-lg-4 pull-right"><strong style="color:green;font-size:250%;"><%= number_to_currency(@neumatico.pvp_t1_iva+(@neumatico.pvp_t1_iva*0.21), unit: "") %> €</strong></div>

      </div>

    </div>

    <div class="col-lg-6">
      <h1><%= @neumatico.marca %> <%= @neumatico.modelo %>
        <em><%= @neumatico.caracteristica_1 %> <%= @neumatico.caracteristica_2 %> <%= @neumatico.caracteristica_3 %></em>
      </h1>

      <h2><%= @neumatico.anchura %>/<%= @neumatico.altura %>/<%= @neumatico.diametro %> <%= @neumatico.carga %> <%= @neumatico.velocidad %></h2>

      <div class="col-lg-12">
        <div class="widget-container fluid-height">
          <div class="widget-content">
            <div class="panel-group" id="accordion">
              <div class="panel">
                <div class="panel-heading">
                  <div class="panel-title">
                    <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="components.html#collapseOne">
                      <div class="caret pull-right"></div>
                      Descripción</a>
                  </div>
                </div>
                <div class="panel-collapse collapse in" id="collapseOne">
                  <div class="panel-body">
                    Diseñado para conductores con un kilometraje medio alto de coches pequeños, medios y familiares (60
                    a 65 de ratio , y velocidad de nivel T).Diseño de nivel alto y conducción silenciosa.<br/>
                    El dibujo ha sido diseñado con una tecnología de simuladores de nieve que miden a nivel milimétrico
                    la distribución de las fuerzas compartidas.<br/>
                    Combinado con el nuevo componente “high-silica” y su diseño de construcción proporcionan un buen
                    funcionamiento en nieve, hielo, mojado y seco. Más control sobre nieve gracias al Nuevo dibujo
                    diseñado mediante la precisión de la tecnología de los simuladores de nieve.<br/>

                    ¿Como de importante es la utilización de ruedas de invierno?
                    Las ruedas de invierno son muchos más que sólo ruedas de invierno.
                    <ul>
                      <li>Son mucho mejores que las ruedas de verano en todas las condiciones invernales.</li>
                      <li>En todos los tipos de superficies.</li>
                      <li>En todas las condiciones meteorológicas típicas del invierno.</li>
                      <li>A bajas temperaturas</li>
                      <li>Y a temperaturas superiores a cero grados (hasta 7ºC).</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  <div class="panel-title">
                    <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="components.html#collapseTwo">
                      <div class="caret pull-right"></div>
                      Etiqueta UE</a>
                  </div>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo">
                  <div class="panel-body">
                    <img src="/images/etiqueta_ecologica_neumaticos.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!--BOTONES-->

<div class="col-lg-12">
  <div class="widget-container fluid-height clearfix">
    <hr />
    <div class="col-lg-6">
      <button onclick="history.go(-1);" class="btn btn-primary-outline form-control"><i class="fa fa-step-backward"></i> Regresar al listado</button>
    </div>
    <div class="col-lg-6">
      <form action="/shopping_cart?id=<%= @neumatico.id %>" class="button_to" method="post">
        <div>
          <button type="submit" class="btn btn-success form-control">
            <i class="fa fa-shopping-cart"></i> Añadir al carrito
          </button>
        </div>
      </form>
    </div>
    <hr /><hr />

  </div>

</div>
