
<div class="page-title">
  <h1> Mi cuenta </h1>
</div>

  <div class="col-lg-12">
    <div class="widget-container fluid-height">
      <div class="heading tabs">
        <i class="fa fa-sitemap"></i>Tabs
        <ul class="nav nav-tabs pull-right" data-tabs="tabs" id="tabs">
          <li class="active">
            <a data-toggle="tab" href="components.html#estado"><i class="fa fa-dashboard"></i><span>Estado</span></a>
          </li>
          <li>
            <a data-toggle="tab" href="components.html#preferencias"><i class="fa fa-cogs"></i><span>Preferencias</span></a>
          </li>
        </ul>
      </div>
      <div class="tab-content padded" id="my-tab-content">
        <div class="tab-pane active" id="estado">
          <!--ESTADO-->

          <div class="row">

            <div class="col-lg-6">
              <div class="widget-container">
                <div class="heading">
                  <i class="fa fa-bar-chart-o"></i>Objetivo de ventas
                </div>
                <div class="widget-content clearfix">
                  <div class="col-sm-4">
                    <div class="pie-chart1 pie-chart pie-number easyPieChart" data-percent="26" style="width: 200px; height: 200px; line-height: 200px;">
                      26%
                      <canvas width="200" height="200"></canvas></div>
                  </div>

                  <div class="col-sm-7 col-sm-offset-1">

                    <p>Tu objetivo de ventas mensual es de XXX, actualmente has cumplido un 26% con la venta de XXX Unidades. Aun te faltan XXX unidades para cumplir el objetivo mensual.</p>
                    <p>El objetivo mensual se reinicia el dia 1 de cada mes</p>


                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="widget-container">
                <div class="heading">
                  <i class="fa fa-bar-chart-o"></i>Credito Disponible
                </div>
                <div class="widget-content clearfix">
                  <div class="col-sm-4">
                    <div class="pie-chart2 pie-chart pie-number easyPieChart" data-percent="87" style="width: 200px; height: 200px; line-height: 200px;">
                      87%
                      <canvas width="200" height="200"></canvas></div>
                  </div>

                  <div class="col-sm-7 col-sm-offset-1">
                    <div class="alert alert-danger">
                      <button class="close" data-dismiss="alert" type="button">×</button>Estas cerca del limite disponible.
                    </div>
                    <p>Actualmente dispones de un limite de <strong>16.000€</strong> y has consumido <strong>13920€</strong>, aun te quedan <strong>2080€</strong>, si lo deseas puedes ampliar el limite haciendo un pago con tarjeta de crédito</p>
                    <br /><br />
                    <a href="#" class="btn btn-success form-control"><i class="fa fa-credit-card"></i> Hacer un pago con Visa</a>
                  </div>

                </div>
              </div>
            </div>

          </div>

          <!--END ESTADO-->

        </div>
        <div class="tab-pane" id="preferencias">
          <div class="col-lg-12">
          <div class="widget-container fluid-height">
          <div class="heading"> <i class="fa fa-edit"></i>Datos y preferencias de <%= @taller.nombre_empresa %> </div>
          <div class="widget-content">
          <div class="wizard" id="wizard">
          <div class="padded">
          <ul class="wizard-nav nav nav-pills">
            <li class="active"> <a data-toggle="tab" href="form-advanced.html#tab1">1</a> </li>
            <li> <a data-toggle="tab" href="form-advanced.html#tab2">2 </a> </li>
            <li> <a data-toggle="tab" href="form-advanced.html#tab3">3</a> </li>
          </ul>
          <div class="progress progress-striped active">
            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 33.33333333333333%;"></div>
          </div>
          <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <hr/>
            <h2> Datos própios del taller </h2>
            <hr/>
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-md-3" for="nombre">Nombre Taller</label>
                <div class="col-md-8">
                  <input class="form-control" id="nombre" value="<%= @taller.nombre_empresa %>" type="string" disabled>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="documento">Documento </label>
                <div class="col-md-8">
                  <input class="form-control" id="documento" value="<%= @taller.dni %>" type="string" disabled>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="calle">Calle </label>
                <div class="col-md-8">
                  <input class="form-control" id="calle" value="<%= @taller.calle %>" type="string" disabled>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="cp">Código Postal </label>
                <div class="col-md-8">
                  <input class="form-control" id="cp" value="<%= @taller.codigo_postal %>" type="string" disabled>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="localidad">Localidad </label>
                <div class="col-md-8">
                  <input class="form-control" id="localidad" value="<%= @taller.localidad %>" type="string" disabled>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="provincia">Provincia </label>
                <div class="col-md-8">
                  <input class="form-control" id="provincia" value="<%= @taller.provincia %>" type="string" disabled>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="pais">País</label>
                <div class="col-md-8">
                  <input class="form-control" id="pais" value="España" type="string" disabled>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="email">Email address</label>
                <div class="col-md-8">
                  <input class="form-control" id="name" value="<%= @taller.email %>" type="email">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="telf">Telf </label>
                <div class="col-md-8">
                  <input class="form-control" id="telf" value="<%= @taller.telefono %>" type="string">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="contacto_nombre">Contacto Nombre</label>
                <div class="col-md-8">
                  <input class="form-control" id="contacto_nombre" value="Jose Pérez" type="string">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="contacto_cargo">Contacto Cargo </label>
                <div class="col-md-8">
                  <input class="form-control" id="contacto_cargo" value="Gerente" type="string">
                </div>
              </div>
              <hr/>
            </form>
          </div>
          <div class="tab-pane" id="tab2">
            <hr/>
            <h2> Restricciones </h2>
            <form role="form" class="form-horizontal">
              <hr/>
              <div class="form-group">
                <label class="control-label col-md-4" for="nombre">Llanta máxima</label>
                <div class="col-md-4">
                  <select class="form-control" id="filtros_diametro" name="filtros[diametro]">
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option selected="selected" value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="22">22</option>
                  </select>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">Runflat</label>
                    <div class="col-md-2">
                      <div class="toggle-switch text-toggle-switch" data-off-label="NO" data-on="primary" data-on-label="SI" style="width:100px;">
                        <input checked="" type="checkbox">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">Turismo</label>
                    <div class="col-md-2">
                      <div class="toggle-switch text-toggle-switch" data-off-label="NO" data-on="primary" data-on-label="SI" style="width:100px;">
                        <input checked="" type="checkbox">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">Moto</label>
                    <div class="col-md-2">
                      <div class="toggle-switch text-toggle-switch" data-off-label="NO" data-on="primary" data-on-label="SI" style="width:100px;">
                        <input checked="" type="checkbox">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">Camión</label>
                    <div class="col-md-2">
                      <div class="toggle-switch text-toggle-switch" data-off-label="NO" data-on="primary" data-on-label="SI" style="width:100px;">
                        <input checked="" type="checkbox">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">Agricola</label>
                    <div class="col-md-8">
                      <div class="toggle-switch text-toggle-switch" data-off-label="NO" data-on="primary" data-on-label="SI" style="width:100px;">
                        <input checked="" type="checkbox">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">Quad</label>
                    <div class="col-md-8">
                      <div class="toggle-switch text-toggle-switch" data-off-label="NO" data-on="primary" data-on-label="SI" style="width:100px;">
                        <input checked="" type="checkbox">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">Carretillas</label>
                    <div class="col-md-8">
                      <div class="toggle-switch text-toggle-switch" data-off-label="NO" data-on="primary" data-on-label="SI" style="width:100px;">
                        <input checked="" type="checkbox">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">Nitrógeno</label>
                    <div class="col-md-8">
                      <div class="toggle-switch text-toggle-switch" data-off-label="NO" data-on="primary" data-on-label="SI" style="width:100px;">
                        <input checked="" type="checkbox">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr/>
            </form>
          </div>
          <div class="tab-pane" id="tab3">
            <hr/>
            <h2> Costes añadidos </h2>
            <hr/>
            <form role="form" class="form-horizontal">

              <h3>Precios</h3>


              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">Por Hora</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="25" type="string">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">Extra Llanta de aleación</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="1" type="string">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label col-md-7" for="nombre">Extra inflado de nitrogeno</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="1.50" type="string">
                    </div>
                  </div>
                </div>
              </div>

              <hr />
              <h3>Montaje</h3>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">Turismo</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="15" type="string">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">Moto</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="15" type="string">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">Camión</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="15" type="string">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">Agricola</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="15" type="string">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">Quad</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="15" type="string">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">Carretillas</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="15" type="string">
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <h3>Margen a particular</h3>

              <div class="row">

                <div class="col-md-6">

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">Menos de 20</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">20</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">30</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">40</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">50</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">60</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">70</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">80</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">90</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">100</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">120</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">150</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-6" for="nombre">200</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string" style="visibility: hidden;">
                    </div>
                  </div>



                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string" style="visibility: hidden;">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">30</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">40</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">50</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">60</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">70</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">80</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">90</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">100</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">120</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">150</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">200</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">250</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3" for="nombre">Más de 250</label>
                    <div class="col-md-3">
                      <input class="form-control" id="nombre" value="" type="string">
                    </div>
                  </div>

                </div>
              </div>


              <hr/>

            </form>
          </div>
          </div>
          </div>
          <div class="pager">
            <div class="btn btn-default-outline btn-previous disabled"> <i class="fa fa-long-arrow-left"></i>Regresar </div>
            <div class="btn btn-success-outline"> <i class="fa fa-save"></i>Guardar </div>
            <div class="btn btn-primary-outline btn-next"> Continuar<i class="fa fa-long-arrow-right"></i> </div>
          </div>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>



