<div class="container-fluid main-content">

<div class="page-title chart-container">
  <h1>
    Clientes
  </h1>
</div>

<div class="col-lg-12">
<div class="widget-container fluid-height clearfix">
<div class="heading">
  <i class="fa fa-table"></i>Listado de Clientes  <a class="btn btn-sm btn-primary-outline pull-right" href="#" id="add-row" onclick="javascript:window.print();"><i class="fa fa-table"></i>Exportar para contabilidad</a>
</div>
<div class="widget-content padded clearfix">
<table class="table table-striped">
<thead>
<tr>
  <th></th>
  <th></th>
  <th></th>
  <th>Mes anterior</th>
  <th>Mes actual</th>
  <th>Pendiente</th>
  <th></th>
  <th></th>
</tr>
<tr>
  <th>Id</th>
  <th>Nombre</th>
  <th>Web</th>
  <th>Cobrado</th>
  <th>a Cobrar</th>
  <th>Enviar</th>
  <th>Límite Concedido</th>
  <th width="150px">Cambiar límite</th>
</tr>
</thead>
<tr>
  <td>15</td>
  <td>Taller - 1</td>
  <td>Si</td>
  <td>37.719</td><td>17.752</td><td>16.607</td>
  <td>100.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>583</td>
  <td>Taller - 2</td>
  <td>Si</td>
  <td>69.152</td><td>32.967</td><td>30.840</td>
  <td>50.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>486</td>
  <td>Taller - 3</td>
  <td>Si</td>
  <td>62.865</td><td>22.823</td><td>21.351</td>
  <td>75.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>537</td>
  <td>Taller - 4</td>
  <td>Si</td>
  <td>56.579</td><td>15.216</td><td>14.234</td>
  <td>75.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>685</td>
  <td>Taller - 5</td>
  <td>Si</td>
  <td>37.719</td><td>12.680</td><td>11.862</td>
  <td>75.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>164</td>
  <td>Taller - 6</td>
  <td>Si</td>
  <td>75.438</td><td>25.359</td><td>23.723</td>
  <td>50.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>292</td>
  <td>Taller - 7</td>
  <td>Si</td>
  <td>69.152</td><td>35.503</td><td>33.212</td>
  <td>75.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>913</td>
  <td>Taller - 8</td>
  <td>No</td>
  <td>75.438</td><td>32.967</td><td>30.840</td>
  <td>75.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>585</td>
  <td>Taller - 9</td>
  <td>Si</td>
  <td>81.725</td><td>30.431</td><td>28.467</td>
  <td>100.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>283</td>
  <td>Taller - 10</td>
  <td>Si</td>
  <td>70.157</td><td>27.895</td><td>26.096</td>
  <td>100.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>777</td>
  <td>Taller - 11</td>
  <td>Si</td>
  <td>35.079</td><td>17.752</td><td>16.607</td>
  <td>100.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>465</td>
  <td>Taller - 12</td>
  <td>Si</td>
  <td>64.311</td><td>32.967</td><td>30.840</td>
  <td>50.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>550</td>
  <td>Taller - 13</td>
  <td>No</td>
  <td>58.464</td><td>22.823</td><td>21.351</td>
  <td>75.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>495</td>
  <td>Taller - 14</td>
  <td>Si</td>
  <td>52.618</td><td>15.216</td><td>14.234</td>
  <td>75.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>671</td>
  <td>Taller - 15</td>
  <td>No</td>
  <td>35.079</td><td>12.680</td><td>11.862</td>
  <td>75.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>923</td>
  <td>Taller - 16</td>
  <td>Si</td>
  <td>70.157</td><td>25.359</td><td>23.723</td>
  <td>50.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>128</td>
  <td>Taller - 17</td>
  <td>Si</td>
  <td>64.311</td><td>35.503</td><td>33.212</td>
  <td>100.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>865</td>
  <td>Taller - 18</td>
  <td>Si</td>
  <td>70.157</td><td>32.967</td><td>30.840</td>
  <td>75.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>734</td>
  <td>Taller - 19</td>
  <td>Si</td>
  <td>76.004</td><td>30.431</td><td>28.467</td>
  <td>100.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>528</td>
  <td>Taller - 20</td>
  <td>Si</td>
  <td>70.157</td><td>27.895</td><td>26.096</td>
  <td>100.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>118</td>
  <td>Taller - 21</td>
  <td>Si</td>
  <td>35.079</td><td>17.752</td><td>16.607</td>
  <td>100.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>2</td>
  <td>Taller - 22</td>
  <td>No</td>
  <td>64.311</td><td>32.967</td><td>30.840</td>
  <td>50.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>362</td>
  <td>Taller - 23</td>
  <td>No</td>
  <td>58.464</td><td>22.823</td><td>21.351</td>
  <td>75.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>435</td>
  <td>Taller - 24</td>
  <td>Si</td>
  <td>52.618</td><td>15.216</td><td>14.234</td>
  <td>75.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
<tr>
  <td>927</td>
  <td>Taller - 25</td>
  <td>No</td>
  <td>75.438</td><td>32.967</td><td>30.840</td>
  <td>75.000</td>
  <td class="actions">
    <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
  </td>
</tr>
</table>


</div>
</div>
</div>
</div>