<div class="container-fluid main-content">

  <div class="page-title chart-container">
    <h1>
      Distribuidores
    </h1>
  </div>

  <div class="col-lg-12">
    <div class="widget-container fluid-height clearfix">
      <div class="heading">
        <i class="fa fa-table"></i>Listado de Distribuidores
      </div>
      <div class="widget-content padded clearfix">
        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th colspan=2 width=130>Cierre de este mes</th>
            <th colspan=2 width=130>Pendiente</th>
            <th width=65></th>
            <th width=65></th>
          </tr>
          <tr>
            <th>Nombre</th>
            <th>Cobrar</th>
            <th>Pagar</th>
            <th>Recibir</th>
            <th>Enviar</th>
            <th width="150px">Límite Concedido</th>
            <th width="150px">Cambiar límite</th>
          </tr>
          </thead>
          <tr>
            <td>Distri-1</td>
            <td>98.069</td>
            <td>50.992</td>
            <td>22.556</td>
            <td>11.728</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
            </td>
          </tr>
          <tr>
            <td>Distri-2</td>
            <td>49.035</td>
            <td>32.450</td>
            <td>11.278</td>
            <td>7.463</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
            </td>
          </tr>
          <tr>
            <td>Distri-3</td>
            <td>89.898</td>
            <td>60.262</td>
            <td>20.676</td>
            <td>13.860</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
            </td>
          </tr>
          <tr>
            <td>Distri-4</td>
            <td>81.725</td>
            <td>41.720</td>
            <td>18.797</td>
            <td>9.596</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
            </td>
          </tr>
          <tr>
            <td>Distri-5</td>
            <td>73.553</td>
            <td>27.814</td>
            <td>16.917</td>
            <td>6.397</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
            </td>
          </tr>
          <tr>
            <td>Distri-6</td>
            <td>49.035</td>
            <td>23.178</td>
            <td>11.278</td>
            <td>5.331</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
            </td>
          </tr>
          <tr>
            <td>Distri-7</td>
            <td>98.069</td>
            <td>46.356</td>
            <td>22.556</td>
            <td>10.662</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
            </td>
          </tr>
          <tr>
            <td>Distri-8</td>
            <td>89.898</td>
            <td>64.898</td>
            <td>20.676</td>
            <td>14.926</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
            </td>
          </tr>
          <tr>
            <td>Distri-9</td>
            <td>98.069</td>
            <td>60.262</td>
            <td>22.556</td>
            <td>13.860</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
            </td>
          </tr>
          <tr>
            <td>Distri-10</td>
            <td>106.243</td>
            <td>55.626</td>
            <td>24.436</td>
            <td>12.794</td>
            <td>250.000</td>
            <td class="actions">
              <div class="action-buttons"><a class="table-actions" href="#"><i class="fa fa-edit"></i></a></div>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>