<div class="container-fluid main-content">

<div class="page-title chart-container">
  <h1>
    Inicio
  </h1>
</div>



<!--PRIMERA LINEA-->


<!--SEGUNDA LINEA-->
<div class="row">

  <!-- Bar Charts:Morris -->
  <div class="col-md-12">
    <div class="widget-container fluid-height">
      <div class="heading">
        <i class="fa fa-bar-chart-o"></i>Ventas anuales
      </div>
      <div class="widget-content padded text-center">
        <div class="graph-container">
          <div class="caption"></div>
          <div class="graph" id="ventas-anuales"></div>
          <!-- Bar Charts:Morris -->
        </div>
      </div>
    </div>
  </div>
</div>






</div>
<!-- end DataTables Example -->



</div>


</div>

<script type="text/javascript" charset="utf-8">
    /* 3-Ventas anuales (Stock: propio, externo, total)

     Line Chart */

    ventas_anuales_data = [
        { label: "2014-1", main: 747800, extern: 333950, total: 1081750 },
        { label: "2014-2", main: 756800, extern: 474150, total: 1230950 },
        { label: "2014-3", main: 639200, extern: 335500, total: 974700 },
        { label: "2014-4", main: 913750, extern: 436300, total: 1350050 },
        { label: "2014-5", main: 767650, extern: 246500, total: 1014150 },
        { label: "2014-6", main: 664450, extern: 464500, total: 1128950 },
        { label: "2014-7", main: 899300, extern: 407450, total: 1306750 },
        { label: "2014-8", main: 839200, extern: 639600, total: 1478800 },
        { label: "2014-9", main: 648650, extern: 451250, total: 1099900 },
        { label: "2014-10", main: 1036050, extern: 506000, total: 1542050 },
        { label: "2014-11", main: 1239450, extern: 628650, total: 1868100 },
        { label: "2014-12", main: 1248000, extern: 622000, total: 1870000 },
    ];
    new Morris.Line({
        element: "ventas-anuales",
        data: ventas_anuales_data,
        xkey: "label",
        ykeys: ["main", "extern", "total"],
        labels: ["Propia", "Externa", "Total"],
        lineColors: ["#5bc0de", "#f0ad4e", "#60c560"]
    });

</script>