<div class="page-title">
  <h1>
    Confirmar Pedido
  </h1>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="widget-container fluid-height clearfix">
      <div class="heading">
        <i class="fa fa fa-shopping-cart"></i><strong>Detalle de la compra</strong>
      </div>
      <div class="widget-content padded clearfix">

        <div class="row">
          <div class="col-sm-8">
            <table class="table">
              <thead>
              <tr>
                <th></th>
                <th></th>
                <th>Precio</th>
                <th class="text-center">Cantidad</th>
                <th class="text-right">Total</th>
                <th></th>
              </tr>
              </thead>
              <tbody>

              <% @pre_pedido.items.each do |item| %>
                  <% neumatico = Tyre.find(item.item_id) %>
                  <tr ng:repeat="item in invoice.items" class="ng-scope">
                    <td class="vert-align"><img src="/images/thumbnails/<%= neumatico.foto %>"></td>
                    <td><strong><%= neumatico.marca %></strong> <%= neumatico.modelo %> <em>
                      <%= neumatico.caracteristica_1 %>
                      <%= neumatico.caracteristica_2 %>
                      <%= neumatico.caracteristica_3 %></em>
                      <%= neumatico.anchura %>/<%= neumatico.altura %>
                      /<%= neumatico.diametro %> <%= neumatico.carga %> <%= neumatico.velocidad %> </td>
                    <td class="vert-align ng-binding"><%= number_to_currency(neumatico.pvp_t1_iva, unit: "") %>€
                    </td>
                    <td class="text-center vert-align"><%= item.quantity %></td>
                    <td class="text-right vert-align ng-binding"><%= number_to_currency((neumatico.pvp_t1_iva * item.quantity), unit: "") %>
                      €
                    </td>
                    <td class="text-center vert-align">
                  </tr>
              <% end %>

              </tbody>
            </table>

          </div>

          <div class="col-sm-4  ng-scope" ng-if="total() &gt; 0">
            <table class="table">
              <thead>
              <tr>
                <th colspan="3" class="text-center">Totales</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Gestión NFU (B) X<%= @pre_pedido.total_unique_items %>:</td>
                <td></td>
                <td class="text-right">
                  <b class="ng-binding"> <%= number_to_currency(@pre_pedido.total_nfu, unit: "") %> €</b></td>
              </tr>
              <tr>
                <td>Base Imponible:</td>
                <td></td>
                <td class="text-right ng-binding"><%= number_to_currency(@pre_pedido.base_imponible, unit: "") %>
                  €
                </td>
              </tr>
              <tr>
                <td>IVA 21%:</td>
                <td></td>
                <td class="text-right ng-binding"><%= number_to_currency(@pre_pedido.iva, unit: "") %> €</td>
              </tr>
              <tr>
                <td><strong>Total:</strong></td>
                <td></td>
                <td id="total" class="text-right ng-binding"><strong><%= number_to_currency(@pre_pedido.total_general, unit: "") %></strong>
                  €
                </td>
              </tr>
              </tbody>
            </table>


          </div>

        </div>
        <hr>

        <div class="headings">
          <i class="fa fa-user"></i><strong> &nbsp;&nbsp;Detalle del cliente</strong>
        </div>
        <div class="row"> </div>


        <div class="row">
          <div class="col-md-6">
            <div class="well">
              <strong>Para</strong>
              <h3>
                <%= @cliente.nombre_empresa %>
              </h3>
              <p>
                <%= @cliente.calle %><br><%= @cliente.localidad %><br><%= @cliente.provincia %><br><%= @cliente.telefono %><br><%= @cliente.email %>
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="well">
              <strong>Datos</strong>
              <h3>
                Condiciones
              </h3>
              <p>
                <%= @cliente.condiciones_venta %><br>Descuento: <%= @cliente.descuento %>%<br>Razón fiscal: <%= @cliente.razon_fiscal %><br><%= @cliente.tipo_documento %>: <%= @cliente.dni %><br>
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-12 text-center show-more">
            <a href="/taller/neumaticos" class="btn btn-primary-outline"><i class="fa fa-fast-backward"></i> Regresar al listado</a>
            <a href="/carrito" class="btn btn-primary-outline"><i class="fa fa-step-backward"></i> Regresar al carrito</a>
            <a href="/pedidos/<%= @pre_pedido.class.name == "Presupuesto" ? @pre_pedido.id : 0 %>/generar?type=<%= @pre_pedido.class.name %>" class="btn btn-success"><i class="fa fa-thumbs-o-up"></i> Confirmar pedido</a>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
