<div class="container-fluid main-content">
  <div class="page-title">
    <h1>
      Pedidos
    </h1>
  </div>
  <!-- DataTables Example -->
  <div class="row">
    <div class="col-lg-12">
      <div class="widget-container fluid-height clearfix">
        <div class="heading">
          <i class="fa fa-table"></i>Listando pedidos
        </div>
        <div class="widget-content padded clearfix">
          <table class="table table-bordered table-striped" id="dataTable1">
            <thead>
            <th class="check-header hidden-xs">
              <label><input id="checkAll" name="checkAll" type="checkbox"><span></span></label>
            </th>
            <th>
              # Pedido
            </th>
            <th>
              Cliente
            </th>
            <th class="hidden-xs">
              Fecha
            </th>
            <th class="hidden-xs">
              Importe
            </th>
            <th class="hidden-xs">
              Estado
            </th>
            <th></th>
            </thead>
            <tbody>

            <% @pedidos.each do |pedido| %>

                <tr>
                  <td class="check hidden-xs">
                    <label><input name="optionsRadios1" type="checkbox" value="option1"><span></span></label>
                  </td>
                  <td>
                    <%= pedido.id %>
                  </td>
                  <td>
                    <%= pedido.cliente.nombre_empresa %>
                  </td>
                  <td class="hidden-xs">
                    <%= datetime(pedido.fecha_alta) %>
                  </td>
                  <td class="hidden-xs">
                    <%= number_to_currency(pedido.importe, unit: '') %> €
                  </td>
                  <td class="hidden-xs">
                    <span class="label label-success">Aprobado</span>
                  </td>
                  <td class="actions">
                    <div class="action-buttons">
                      <a class="table-actions" href="/pedidos/<%= pedido.id %>"><i class="fa fa-eye"></i></a> <a class="table-actions" href=""><i class="fa fa-trash-o"></i></a>
                    </div>
                  </td>
                </tr>

            <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end DataTables Example -->
</div>
