<div class="container-fluid main-content">
  <div class="page-title">
    <h1>
      Pedido
    </h1>
  </div>
  <div class="invoice">
    <div class="row">
      <div class="col-lg-12">
        <div class="row invoice-header">
          <div class="col-md-6">
            <h2>
              #<%= @pedido.id %>
            </h2>
            <p>
              <%= datetime(@pedido.fecha_alta) %>
            </p>
          </div>
          <div class="col-md-6 text-right"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <strong>Para</strong>
          <h3>
            <%= @pedido.cliente.nombre_empresa %>
          </h3>
          <p>
            <%= @pedido.cliente.calle %><br><%= @pedido.cliente.localidad %><br><%= @pedido.cliente.provincia %><br><%= @pedido.cliente.telefono %><br><%= @pedido.cliente.email %>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <strong>Datos</strong>
          <h3>
            Condiciones
          </h3>
          <p>
            <%= @pedido.cliente.condiciones_venta %><br>Descuento: <%= @pedido.cliente.descuento %>%<br>Razón fiscal: <%= @pedido.cliente.razon_fiscal %><br><%= @pedido.cliente.tipo_documento %>: <%= @pedido.cliente.dni %><br>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="widget-container fluid-height">
          <div class="widget-content padded clearfix">
            <table class="table table-striped invoice-table">
              <thead>
              <tr><th width="50"></th>
                <th>
                  Producto
                </th>
                <th width="70">
                  Cantidad
                </th>
                <th width="100">
                  Precio
                </th>
                <th width="100">
                  Total
                </th>
              </tr></thead>
              <tbody>

              <% @pedido.pedido_detalles.each do |item| %>
                  <tr>
                    <td>
                      <%= item.id %>
                    </td>
                    <td>
                      <%= item.marca %> <%= item.modelo %><%= item.caracteristica_1 %><%= item.caracteristica_2 %><%= item.caracteristica_3 %> - <strong><%= item.altura %>/<%= item.anchura %>/<%= item.carga %><%= item.velocidad %></strong>
                    </td>
                    <td>
                      <%= item.unidades %>
                    </td>
                    <td>
                      <%= currency(item.precio) %>
                    </td>
                    <td>
                      <%= currency(item.total_articulo) %>
                    </td>
                  </tr>
              <% end %>


              </tbody>
              <tfoot>
              <tr>
                <td class="text-right" colspan="4">
                  <strong>NFU</strong>
                </td>
                <td>
                  <%= currency(@pedido.pedido_detalles.collect(&:nfu).first * @pedido.pedido_detalles.collect(&:unidades).first.to_i) rescue "0" %>
                </td>
              </tr>
              <tr>
                <td class="text-right" colspan="4">
                  <strong>Base imponible</strong>
                </td>
                <td>
                  <%= currency(@pedido.base_imponible) %>
                </td>
              </tr>
              <tr>
                <td class="text-right" colspan="4">
                  <strong>IVA</strong>
                </td>
                <td>
                  <%= currency(@pedido.importe_iva) %>
                </td>
              </tr>
              <tr>
                <td class="text-right" colspan="4">
                  <h4 class="text-primary">
                    Total
                  </h4>
                </td>
                <td>
                  <h4 class="text-primary">
                    <%= currency(@pedido.importe) %>
                  </h4>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <strong>NOTAS</strong>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <a class="btn btn-primary pull-right" onclick="javascript:window.print();"><i class="fa fa-print"></i>Imprimir</a>
      </div>
    </div>
  </div>
</div>