<div class="container-fluid main-content">


<div class="page-title chart-container">
  <h1>
    Dashboard
  </h1>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="widget-container stats-container">
      <div class="col-md-3">
        <div class="number">
          <div class="icon globe"></div>
          86
          <small>%</small>
        </div>
        <div class="text">
          Crecimiento general
        </div>
      </div>
      <div class="col-md-3">
        <div class="number">
          <div class="icon visitors"></div>
          6136
        </div>
        <div class="text">
          Clientes
        </div>
      </div>
      <div class="col-md-3">
        <div class="number">
          <div class="icon money"></div>
          92900
          <small>€</small>
        </div>
        <div class="text">
          Ventas corriente mes
        </div>
      </div>
      <div class="col-md-3">
        <div class="number">
          <div class="icon chat-bubbles"></div>
          14
        </div>
        <div class="text">
          Pedidos sin procesar
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Line Chart -->
  <div class="col-md-6">
    <div class="widget-container">
      <div class="heading">
        <i class="fa fa-bar-chart-o"></i>Ventas en los ultimos 12 meses
      </div>
      <div class="widget-content padded">
        <div class="chart-graph line-chart">
          <div id="linechart-2">
            <canvas style="display: inline-block; width: 973px; height: 226px; vertical-align: top;" width="973" height="226"></canvas>
          </div>
          <ul class="chart-text-axis">
            <li>
              Enero
            </li>
            <li>
              Febrero
            </li>
            <li>
              Marzo
            </li>
            <li>
              Abril
            </li>
            <li>
              Mayo
            </li>
            <li>
              Junio
            </li>
            <li>
              Julio
            </li>
            <li>
              Agosto
            </li>
            <li>
              Septiembre
            </li>
            <li>
              Octubre
            </li>
            <li>
              Noviembre
            </li>
            <li>
              Diciembre
            </li>
          </ul>
          <!-- end Line Chart -->
        </div>
      </div>
    </div>
  </div>
  <!-- Pie Chart -->
  <div class="col-md-6">
    <div class="widget-container">
      <div class="heading">
        <i class="fa fa-bar-chart-o"></i>Ventas por tipo de producto
      </div>
      <div class="widget-content padded">
        <div class="pie-chart">
          <div id="pie-chart"><canvas width="220" height="220" style="display: inline-block; width: 220px; height: 220px; vertical-align: top;"></canvas></div>
          <ul class="chart-key" style="text-align: left">
            <li>
              <span class="green"></span>Turismo
            </li>
            <li>
              <span class="orange"></span>Moto
            </li>
            <li>
              <span class="red"></span>Camion
            </li>
            <li>
              <span class="blue"></span>Tractor
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end Pie Chart -->
</div>
<div class="row">
  <!-- Composite Graph -->
  <div class="col-lg-6">
    <div class="widget-container">
      <div class="heading">
        <i class="fa fa-bar-chart-o"></i>Composite Graph
      </div>
      <div class="widget-content padded text-center">
        <div id="composite-chart-1">
          <canvas width="304" height="226" style="display: inline-block; width: 304px; height: 226px; vertical-align: top;"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- end Composite Graph --><!-- Composite Graph -->
  <div class="col-lg-6">
    <div class="widget-container">
      <div class="heading">
        <i class="fa fa-bar-chart"></i>Composite Graph
      </div>
      <div class="widget-content padded">
        <div id="linechart-1">
          <canvas style="display: inline-block; width: 973px; height: 226px; vertical-align: top;" width="973" height="226"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- end Composite Graph -->
</div>
<!-- Line Chart:Morris -->
<div class="row">
  <div class="col-md-6">
    <div class="widget-container fluid-height">
      <div class="heading">
        <i class="fa fa-bar-chart-o"></i>Line Chart
      </div>
      <div class="widget-content padded text-center">
        <div class="graph-container">
          <div class="caption"></div>
          <div class="graph" id="hero-graph" style="position: relative;">
            <svg height="342" version="1.1" width="973" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
              <desc>Created with RaphaÃ«l 2.1.2</desc>
              <defs></defs>
              <text x="44.5" y="307" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4">0</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M57,307H948" stroke-width="0.5" style=""></path>
              <text x="44.5" y="236.5" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4">1,000</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M57,236.5H948" stroke-width="0.5" style=""></path>
              <text x="44.5" y="166" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4">2,000</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M57,166H948" stroke-width="0.5" style=""></path>
              <text x="44.5" y="95.50000000000003" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4.000000000000028">3,000</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M57,95.50000000000003H948" stroke-width="0.5" style=""></path>
              <text x="44.5" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4">4,000</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M57,25H948" stroke-width="0.5" style=""></path>
              <text x="844.9142046469176" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2011</tspan>
              </text>
              <text x="690.0468461675828" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2010</tspan>
              </text>
              <text x="535.1794876882477" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2009</tspan>
              </text>
              <text x="379.8878350760928" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2008</tspan>
              </text>
              <text x="225.02047659675787" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2007</tspan>
              </text>
              <text x="70.15311811742296" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2006</tspan>
              </text>
              <path fill="none" stroke="#60c560" d="M366.7347169586698,263.29C405.5576301117086,262.214875,483.2034564177861,259.4836751025992,522.0263695708248,258.9895C560.7432091906586,258.49667510259917,638.176888430326,259.16575,676.8937280501598,259.342C715.6105676699935,259.51824999999997,793.044246909661,259.57945329670326,831.7610865294947,260.3995C841.3077045179468,260.6017032967033,860.4009404948512,263.15203503549344,869.9475584833033,263.431C879.7019038076153,263.71603503549346,899.2105944562393,263.0255411664779,908.9649397805513,262.6555C918.7237048354134,262.2852911664779,938.2412349451379,261.01637500000004,948,260.47" stroke-width="3" style=""></path>
              <path fill="none" stroke="#5bc0de" d="M57,75.12550000000002C95.71683961983373,75.90100000000001,173.15051885950118,77.67231250000002,211.8673584793349,78.22750000000002C250.58419809916865,78.78268750000002,328.0178773388361,78.77495998632014,366.7347169586698,79.56700000000004C405.5576301117086,80.36120998632015,483.2034564177861,84.0871494528044,522.0263695708248,84.57250000000002C560.7432091906586,85.0565244528044,638.176888430326,84.24643750000004,676.8937280501598,83.44450000000003C715.6105676699935,82.64256250000003,793.044246909661,79.54259615384616,831.7610865294947,78.15700000000001C841.3077045179468,77.81534615384616,860.4009404948512,77.45085378978705,869.9475584833033,76.53550000000001C879.7019038076153,75.60022878978705,899.2105944562393,71.9703495469989,908.9649397805513,70.75450000000004C918.7237048354134,69.53809954699891,938.2412349451379,67.79350000000002,948,66.80650000000003" stroke-width="3" style=""></path>
              <circle cx="366.7347169586698" cy="263.29" r="4" fill="#60c560" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="522.0263695708248" cy="258.9895" r="4" fill="#60c560" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="676.8937280501598" cy="259.342" r="4" fill="#60c560" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="831.7610865294947" cy="260.3995" r="4" fill="#60c560" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="869.9475584833033" cy="263.431" r="4" fill="#60c560" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="908.9649397805513" cy="262.6555" r="4" fill="#60c560" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="948" cy="260.47" r="7" fill="#60c560" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="57" cy="75.12550000000002" r="4" fill="#5bc0de" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="211.8673584793349" cy="78.22750000000002" r="4" fill="#5bc0de" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="366.7347169586698" cy="79.56700000000004" r="4" fill="#5bc0de" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="522.0263695708248" cy="84.57250000000002" r="4" fill="#5bc0de" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="676.8937280501598" cy="83.44450000000003" r="4" fill="#5bc0de" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="831.7610865294947" cy="78.15700000000001" r="4" fill="#5bc0de" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="869.9475584833033" cy="76.53550000000001" r="4" fill="#5bc0de" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="908.9649397805513" cy="70.75450000000004" r="4" fill="#5bc0de" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="948" cy="66.80650000000003" r="7" fill="#5bc0de" stroke="#ffffff" stroke-width="1" style=""></circle>
            </svg>
            <div class="morris-hover morris-default-style" style="left: 869px; top: 76px;">
              <div class="morris-hover-row-label">2011 Q3</div>
              <div class="morris-hover-point" style="color: #5bc0de">
                Licensed:
                3,407
              </div>
              <div class="morris-hover-point" style="color: #60c560">
                Off the road:
                660
              </div>
            </div>
          </div>
          <!-- Line Chart:Morris -->
        </div>
      </div>
    </div>
  </div>
  <!-- Bar Charts:Morris -->
  <div class="col-md-6">
    <div class="widget-container fluid-height">
      <div class="heading">
        <i class="fa fa-bar-chart-o"></i>Bar Charts
      </div>
      <div class="widget-content padded text-center">
        <div class="graph-container">
          <div class="caption"></div>
          <div class="graph" id="hero-bar" style="position: relative;">
            <svg height="342" version="1.1" width="973" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
              <desc>Created with RaphaÃ«l 2.1.2</desc>
              <defs></defs>
              <text x="44.5" y="278.739591796" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4.239591796000013">0</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M57,278.739591796H948" stroke-width="0.5" style=""></path>
              <text x="44.5" y="215.304693847" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4.30469384700001">500</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M57,215.304693847H948" stroke-width="0.5" style=""></path>
              <text x="44.5" y="151.869795898" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="3.8697958980000067">1,000</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M57,151.869795898H948" stroke-width="0.5" style=""></path>
              <text x="44.5" y="88.434897949" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4.434897949000003">1,500</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M57,88.434897949H948" stroke-width="0.5" style=""></path>
              <text x="44.5" y="24.99999999999997" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="3.9999999999999716">2,000</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M57,24.99999999999997H948" stroke-width="0.5" style=""></path>
              <text x="873.75" y="291.239591796" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-28.7961,573.9325)">
                <tspan dy="4.239591796000013">iPhone 5</tspan>
              </text>
              <text x="725.25" y="291.239591796" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-59.019,490.7639)">
                <tspan dy="4.239591796000013">iPhone 4S</tspan>
              </text>
              <text x="576.75" y="291.239591796" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-82.5079,403.5803)">
                <tspan dy="4.239591796000013">iPhone 4</tspan>
              </text>
              <text x="428.25" y="291.239591796" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-116.8266,323.2796)">
                <tspan dy="4.239591796000013">iPhone 3GS</tspan>
              </text>
              <text x="279.75" y="291.239591796" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-140.3155,236.0959)">
                <tspan dy="4.239591796000013">iPhone 3G</tspan>
              </text>
              <text x="131.25" y="291.239591796" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-159.0703,144.8973)">
                <tspan dy="4.239591796000013">iPhone</tspan>
              </text>
              <rect x="75.5625" y="261.485299553872" width="111.375" height="17.25429224212803" r="0" rx="0" ry="0" fill="#5bc0de" stroke="#000" stroke-width="0" style=""></rect>
              <rect x="224.0625" y="261.358429757974" width="111.375" height="17.38116203802599" r="0" rx="0" ry="0" fill="#5bc0de" stroke="#000" stroke-width="0" style=""></rect>
              <rect x="372.5625" y="243.85039792405001" width="111.375" height="34.88919387195" r="0" rx="0" ry="0" fill="#5bc0de" stroke="#000" stroke-width="0" style=""></rect>
              <rect x="521.0625" y="230.52906935476" width="111.375" height="48.210522441240016" r="0" rx="0" ry="0" fill="#5bc0de" stroke="#000" stroke-width="0" style=""></rect>
              <rect x="669.5625" y="195.63987548281" width="111.375" height="83.09971631319002" r="0" rx="0" ry="0" fill="#5bc0de" stroke="#000" stroke-width="0" style=""></rect>
              <rect x="818.0625" y="79.427142440242" width="111.375" height="199.31244935575802" r="0" rx="0" ry="0" fill="#5bc0de" stroke="#000" stroke-width="0" style=""></rect>
            </svg>
            <div class="morris-hover morris-default-style" style="display: none;"></div>
          </div>
          <!-- Bar Charts:Morris -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Area Charts:Morris -->
  <div class="col-md-6">
    <div class="widget-container fluid-height">
      <div class="heading">
        <i class="fa fa-bar-chart-o"></i>Area Chart
      </div>
      <div class="widget-content padded text-center">
        <div class="graph-container">
          <div class="caption"></div>
          <div class="graph" id="hero-area" style="position: relative;">
            <svg height="342" version="1.1" width="973" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
              <desc>Created with RaphaÃ«l 2.1.2</desc>
              <defs></defs>
              <text x="50.5" y="307" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4">0</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M63,307H948" stroke-width="0.5" style=""></path>
              <text x="50.5" y="236.5" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4">7,500</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M63,236.5H948" stroke-width="0.5" style=""></path>
              <text x="50.5" y="166" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4">15,000</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M63,166H948" stroke-width="0.5" style=""></path>
              <text x="50.5" y="95.5" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4">22,500</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M63,95.5H948" stroke-width="0.5" style=""></path>
              <text x="50.5" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal">
                <tspan dy="4">30,000</tspan>
              </text>
              <path fill="none" stroke="#aaaaaa" d="M63,25H948" stroke-width="0.5" style=""></path>
              <text x="948" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2012-06</tspan>
              </text>
              <text x="849.1090577692269" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2012-03</tspan>
              </text>
              <text x="751.2486962685433" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2011-12</tspan>
              </text>
              <text x="653.3435269100298" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2011-09</tspan>
              </text>
              <text x="554.4077768214268" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2011-06</tspan>
              </text>
              <text x="455.5168345906536" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2011-03</tspan>
              </text>
              <text x="358.7318616778897" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2010-12</tspan>
              </text>
              <text x="260.8266923193762" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2010-09</tspan>
              </text>
              <text x="161.89094223077313" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2010-06</tspan>
              </text>
              <text x="63" y="319.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7.5)">
                <tspan dy="4">2010-03</tspan>
              </text>
              <path fill="#ebf6eb" stroke="#000000" d="M63,257.0578C87.72273555769328,251.88779999999997,137.16820667307985,241.1577920838052,161.89094223077313,236.37779999999998C186.6248797529239,231.5956420838052,236.09275479722544,225.35278115183243,260.8266923193762,218.80919999999998C285.30298465900455,212.33378115183245,334.25556933826135,186.23397865362486,358.7318616778897,184.30180000000001C382.92810490608065,182.39172865362488,431.32059136246266,202.03491399129837,455.5168345906536,203.4402C480.2395701483469,204.87606399129837,529.6850412637334,194.7101666364666,554.4077768214268,195.6664C579.1417143435775,196.6230666364666,628.609589387879,228.06613298429318,653.3435269100298,211.09179999999998C677.8198192496582,194.29428298429318,726.772403928915,68.77297505149917,751.2486962685433,60.57899999999998C775.7137866437142,52.38877505149918,824.643967394056,133.540438487816,849.1090577692269,145.555C873.8317933269202,157.69608848781598,923.2772644423067,154.28994999999998,948,157.20159999999998L948,307L63,307Z" fill-opacity="0.5" stroke-width="0" style="fill-opacity: 0.5;"></path>
              <path fill="none" stroke="#a0e2a0" d="M63,257.0578C87.72273555769328,251.88779999999997,137.16820667307985,241.1577920838052,161.89094223077313,236.37779999999998C186.6248797529239,231.5956420838052,236.09275479722544,225.35278115183243,260.8266923193762,218.80919999999998C285.30298465900455,212.33378115183245,334.25556933826135,186.23397865362486,358.7318616778897,184.30180000000001C382.92810490608065,182.39172865362488,431.32059136246266,202.03491399129837,455.5168345906536,203.4402C480.2395701483469,204.87606399129837,529.6850412637334,194.7101666364666,554.4077768214268,195.6664C579.1417143435775,196.6230666364666,628.609589387879,228.06613298429318,653.3435269100298,211.09179999999998C677.8198192496582,194.29428298429318,726.772403928915,68.77297505149917,751.2486962685433,60.57899999999998C775.7137866437142,52.38877505149918,824.643967394056,133.540438487816,849.1090577692269,145.555C873.8317933269202,157.69608848781598,923.2772644423067,154.28994999999998,948,157.20159999999998" stroke-width="2" style=""></path>
              <circle cx="63" cy="257.0578" r="4" fill="#a0e2a0" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="161.89094223077313" cy="236.37779999999998" r="4" fill="#a0e2a0" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="260.8266923193762" cy="218.80919999999998" r="4" fill="#a0e2a0" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="358.7318616778897" cy="184.30180000000001" r="4" fill="#a0e2a0" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="455.5168345906536" cy="203.4402" r="4" fill="#a0e2a0" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="554.4077768214268" cy="195.6664" r="4" fill="#a0e2a0" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="653.3435269100298" cy="211.09179999999998" r="4" fill="#a0e2a0" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="751.2486962685433" cy="60.57899999999998" r="4" fill="#a0e2a0" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="849.1090577692269" cy="145.555" r="4" fill="#a0e2a0" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="948" cy="157.20159999999998" r="4" fill="#a0e2a0" stroke="#ffffff" stroke-width="1" style=""></circle>
              <path fill="#f8f0e6" stroke="#000000" d="M63,281.9396C87.72273555769328,276.28549999999996,137.16820667307985,264.27470322763304,161.89094223077313,259.3232C186.6248797529239,254.36945322763304,236.09275479722544,245.0258,260.8266923193762,242.3186C285.30298465900455,239.6396,334.25556933826135,239.95638486766396,358.7318616778897,237.77839999999998C382.92810490608065,235.62533486766395,431.32059136246266,228.0153580948019,455.5168345906536,224.99439999999998C480.2395701483469,221.9077080948019,529.6850412637334,213.21975400906004,554.4077768214268,213.3478C579.1417143435775,213.47590400906003,628.609589387879,239.10261884816754,653.3435269100298,226.019C677.8198192496582,213.07166884816755,726.772403928915,116.90085671778438,751.2486962685433,109.22399999999999C775.7137866437142,101.55065671778438,824.643967394056,156.55901120473695,849.1090577692269,164.6182C873.8317933269202,172.76226120473697,923.2772644423067,171.6823,948,174.037L948,307L63,307Z" fill-opacity="0.5" stroke-width="0" style="fill-opacity: 0.5;"></path>
              <path fill="none" stroke="#f1c88e" d="M63,281.9396C87.72273555769328,276.28549999999996,137.16820667307985,264.27470322763304,161.89094223077313,259.3232C186.6248797529239,254.36945322763304,236.09275479722544,245.0258,260.8266923193762,242.3186C285.30298465900455,239.6396,334.25556933826135,239.95638486766396,358.7318616778897,237.77839999999998C382.92810490608065,235.62533486766395,431.32059136246266,228.0153580948019,455.5168345906536,224.99439999999998C480.2395701483469,221.9077080948019,529.6850412637334,213.21975400906004,554.4077768214268,213.3478C579.1417143435775,213.47590400906003,628.609589387879,239.10261884816754,653.3435269100298,226.019C677.8198192496582,213.07166884816755,726.772403928915,116.90085671778438,751.2486962685433,109.22399999999999C775.7137866437142,101.55065671778438,824.643967394056,156.55901120473695,849.1090577692269,164.6182C873.8317933269202,172.76226120473697,923.2772644423067,171.6823,948,174.037" stroke-width="2" style=""></path>
              <circle cx="63" cy="281.9396" r="4" fill="#f1c88e" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="161.89094223077313" cy="259.3232" r="4" fill="#f1c88e" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="260.8266923193762" cy="242.3186" r="4" fill="#f1c88e" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="358.7318616778897" cy="237.77839999999998" r="4" fill="#f1c88e" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="455.5168345906536" cy="224.99439999999998" r="4" fill="#f1c88e" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="554.4077768214268" cy="213.3478" r="4" fill="#f1c88e" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="653.3435269100298" cy="226.019" r="4" fill="#f1c88e" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="751.2486962685433" cy="109.22399999999999" r="4" fill="#f1c88e" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="849.1090577692269" cy="164.6182" r="4" fill="#f1c88e" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="948" cy="174.037" r="4" fill="#f1c88e" stroke="#ffffff" stroke-width="1" style=""></circle>
              <path fill="#f5fafc" stroke="#000000" d="M63,281.9396C87.72273555769328,281.6764,137.16820667307985,283.5252522536806,161.89094223077313,280.8868C186.6248797529239,278.2471522536806,236.09275479722544,261.99535916230366,260.8266923193762,260.8272C285.30298465900455,259.6712091623037,334.25556933826135,273.833181703107,358.7318616778897,271.5902C382.92810490608065,269.372881703107,431.32059136246266,245.19795969773298,455.5168345906536,242.986C480.2395701483469,240.725909697733,529.6850412637334,251.36427961494903,554.4077768214268,253.702C579.1417143435775,256.04077961494903,628.609589387879,272.7983706806283,653.3435269100298,261.692C677.8198192496582,250.70132068062827,726.772403928915,172.20910287251087,751.2486962685433,165.3138C775.7137866437142,158.42165287251086,824.643967394056,198.77989792757913,849.1090577692269,206.54219999999998C873.8317933269202,214.38624792757912,923.2772644423067,222.43994999999998,948,227.73919999999998L948,307L63,307Z" fill-opacity="0.5" stroke-width="0" style="fill-opacity: 0.5;"></path>
              <path fill="none" stroke="#a0dcee" d="M63,281.9396C87.72273555769328,281.6764,137.16820667307985,283.5252522536806,161.89094223077313,280.8868C186.6248797529239,278.2471522536806,236.09275479722544,261.99535916230366,260.8266923193762,260.8272C285.30298465900455,259.6712091623037,334.25556933826135,273.833181703107,358.7318616778897,271.5902C382.92810490608065,269.372881703107,431.32059136246266,245.19795969773298,455.5168345906536,242.986C480.2395701483469,240.725909697733,529.6850412637334,251.36427961494903,554.4077768214268,253.702C579.1417143435775,256.04077961494903,628.609589387879,272.7983706806283,653.3435269100298,261.692C677.8198192496582,250.70132068062827,726.772403928915,172.20910287251087,751.2486962685433,165.3138C775.7137866437142,158.42165287251086,824.643967394056,198.77989792757913,849.1090577692269,206.54219999999998C873.8317933269202,214.38624792757912,923.2772644423067,222.43994999999998,948,227.73919999999998" stroke-width="2" style=""></path>
              <circle cx="63" cy="281.9396" r="4" fill="#a0dcee" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="161.89094223077313" cy="280.8868" r="4" fill="#a0dcee" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="260.8266923193762" cy="260.8272" r="4" fill="#a0dcee" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="358.7318616778897" cy="271.5902" r="4" fill="#a0dcee" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="455.5168345906536" cy="242.986" r="4" fill="#a0dcee" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="554.4077768214268" cy="253.702" r="4" fill="#a0dcee" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="653.3435269100298" cy="261.692" r="4" fill="#a0dcee" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="751.2486962685433" cy="165.3138" r="4" fill="#a0dcee" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="849.1090577692269" cy="206.54219999999998" r="4" fill="#a0dcee" stroke="#ffffff" stroke-width="1" style=""></circle>
              <circle cx="948" cy="227.73919999999998" r="4" fill="#a0dcee" stroke="#ffffff" stroke-width="1" style=""></circle>
            </svg>
            <div class="morris-hover morris-default-style" style="display: none;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Area Charts:Morris --><!-- Donut Charts:Morris -->
  <div class="col-md-6">
    <div class="widget-container fluid-height">
      <div class="heading">
        <i class="fa fa-bar-chart-o"></i>Donut Chart
      </div>
      <div class="widget-content padded text-center">
        <div class="graph-container">
          <div class="caption"></div>
          <div class="graph" id="hero-donut">
            <svg height="342" version="1.1" width="973" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
              <desc>Created with RaphaÃ«l 2.1.2</desc>
              <defs></defs>
              <path fill="none" stroke="#f0ad4e" d="M486.5,282.5A109,109,0,0,0,595.4999996638167,173.50856083997223" stroke-width="2" opacity="0" style="opacity: 0;"></path>
              <path fill="#f0ad4e" stroke="#ffffff" d="M486.5,285.5A112,112,0,0,0,598.4999996545638,173.508796459421L644.9999995111461,173.51244856087703A158.5,158.5,0,0,1,486.5,332Z" stroke-width="3" style=""></path>
              <path fill="none" stroke="#f0ad4e" d="M595.4999996638167,173.50856083997223A109,109,0,0,0,400.12725385519667,107.01128875210951" stroke-width="2" opacity="1" style="opacity: 1;"></path>
              <path fill="#f0ad4e" stroke="#ffffff" d="M598.4999996545638,173.508796459421A112,112,0,0,0,397.75002230992686,105.18132422235105L356.94088078279503,73.76693312816425A163.5,163.5,0,0,1,649.9999994957249,173.51284125995835Z" stroke-width="3" style=""></path>
              <path fill="none" stroke="#f0ad4e" d="M400.12725385519667,107.01128875210951A109,109,0,0,0,420.0045052575654,259.8675238672434" stroke-width="2" opacity="0" style="opacity: 0;"></path>
              <path fill="#f0ad4e" stroke="#ffffff" d="M397.75002230992686,105.18132422235105A112,112,0,0,0,418.1743540261223,262.2446116801033L389.80700993875337,299.0894727794319A158.5,158.5,0,0,1,360.9029333582447,76.81687401109501Z" stroke-width="3" style=""></path>
              <path fill="none" stroke="#f0ad4e" d="M420.0045052575654,259.8675238672434A109,109,0,0,0,486.46575664063926,282.49999462106564" stroke-width="2" opacity="0" style="opacity: 0;"></path>
              <path fill="#f0ad4e" stroke="#ffffff" d="M418.1743540261223,262.2446116801033A112,112,0,0,0,486.4648141628587,285.4999944730216L486.4502057572598,331.9999921783386A158.5,158.5,0,0,1,389.80700993875337,299.0894727794319Z" stroke-width="3" style=""></path>
              <text x="486.5" y="163.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: 800; font-size: 15px; line-height: normal; font-family: Arial;" font-size="15px" font-weight="800" transform="matrix(1.4977,0,0,1.4977,-242.1359,-86.1038)" stroke-width="0.6676860346585116">
                <tspan dy="5.5">Sales &amp; Marketing</tspan>
              </text>
              <text x="486.5" y="183.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-family: Arial;" font-size="14px" transform="matrix(2.1373,0,0,2.1373,-553.2745,-199.0196)" stroke-width="0.46788990825688076">
                <tspan dy="5">40%</tspan>
              </text>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Donut Charts:Morris -->
</div>
</div>