<div class="container-fluid main-content">

  <div class="page-title chart-container">
    <h1>
      Inicio
    </h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="widget-container stats-container">
        <div class="col-md-3">
          <div class="number">
            <div class="icon visitors"></div>
            1368
          </div>
          <div class="text">
            Clientes
          </div>
        </div>
        <div class="col-md-3">
          <div class="number">
            <div class="icon money"></div>
            968080
          </div>
          <div class="text">
            Venta total mes anterior
          </div>
        </div>
        <div class="col-md-3">
          <div class="number">
            <div class="icon globe"></div>
            68
          </div>
          <div class="text">
            Webs activas
          </div>
        </div>
        <div class="col-md-3">
          <div class="number">
            <div class="icon chat-bubbles"></div>
            47
          </div>
          <div class="text">
            Pedidos a expedir
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--PRIMERA LINEA-->
  <div class="row">

    <!-- Bar Charts:Morris -->
    <div class="col-md-6">
      <div class="widget-container fluid-height">
        <div class="heading">
          <i class="fa fa-bar-chart-o"></i>Analisis de ventas
        </div>
        <div class="widget-content padded text-center">
          <div class="graph-container">
            <div class="caption"></div>
            <div class="graph" id="analisis-de-ventas"></div>
            <!-- Bar Charts:Morris -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="widget-container fluid-height">
        <div class="heading">
          <i class="fa fa-bar-chart-o"></i>Distribuidores (importes)
        </div>
        <div class="widget-content padded text-center">
          <div class="graph-container">
            <div class="caption"></div>
            <div class="graph" id="distribuidores"></div>
            <!-- Bar Charts:Morris -->
          </div>
        </div>
      </div>
    </div>


  </div>

  <!--SEGUNDA LINEA-->
  <div class="row">

    <!-- Bar Charts:Morris -->
    <div class="col-md-6">
      <div class="widget-container fluid-height">
        <div class="heading">
          <i class="fa fa-bar-chart-o"></i>Ventas anuales
        </div>
        <div class="widget-content padded text-center">
          <div class="graph-container">
            <div class="caption"></div>
            <div class="graph" id="ventas-anuales"></div>
            <!-- Bar Charts:Morris -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="widget-container fluid-height">
        <div class="heading">
          <i class="fa fa-bar-chart-o"></i>Ventas por mes
        </div>
        <div class="widget-content padded text-center">
          <div class="graph-container">
            <div class="caption"></div>
            <div class="graph" id="ventas-mes"></div>
            <!-- Bar Charts:Morris -->
          </div>
        </div>
      </div>
    </div>


  </div>


  <!--TERCERA LINEA-->
  <div class="row">

    <!-- Bar Charts:Morris -->
    <div class="col-md-6">
      <div class="widget-container fluid-height">
        <div class="heading">
          <i class="fa fa-bar-chart-o"></i>Ventas stock
        </div>
        <div class="widget-content padded text-center">
          <div class="graph-container">
            <div class="caption"></div>
            <div class="graph" id="ventas-stock"></div>
            <!-- Bar Charts:Morris -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="widget-container">
        <div class="heading">
          <i class="fa fa-bar-chart-o"></i>Venta por tipo de articulo
        </div>
        <div class="widget-content padded">
          <div class="pie-chart">
            <div id="pie-chart"></div>
            <ul class="chart-key" style="text-align: left;">
              <li>
                <span class="green"></span>Turismo
              </li>
              <li>
                <span class="blue"></span>Moto
              </li>
              <li>
                <span class="orange"></span>Camión
              </li>
              <li>
                <span class="red"></span>Agricola
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="page-title chart-container">
    <hr />
    <h2>
      Top ventas
    </h2>
  </div>


  <div class="container-fluid main-content">

    <!-- DataTables Example -->
    <div class="row">
      <div class="col-lg-6">
        <div class="widget-container fluid-height clearfix">
          <div class="heading">
            <i class="fa fa-table"></i>Top 10 Clientes
          </div>
          <div class="widget-content padded clearfix">
            <table class="table table-bordered table-striped" id="">
              <thead>

              <th>
                N&ordm;
              </th>
              <th>
                C&oacute;digo
              </th>
              <th class="hidden-xs">
                N&oacute;mbre
              </th>
              <th class="hidden-xs">
                Importe</th>
              </thead>
              <tbody>
              <tr>
                <td>
                  1</td>
                <td>
                  1220
                </td>
                <td class="hidden-xs">
                  Taller Top-1</td>
                <td class="hidden-xs">
                  210.600
                </td>
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  835
                </td>
                <td class="hidden-xs">Taller Top-2</td>
                <td class="hidden-xs">
                  100.150
                </td>
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  272
                </td>
                <td class="hidden-xs">
                  Taller Top-3</td>
                <td class="hidden-xs">
                  95.500
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  2348
                </td>
                <td class="hidden-xs">
                  Taller Top-4
                </td>
                <td class="hidden-xs">
                  91.900
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  2614
                </td>
                <td class="hidden-xs">
                  Taller Top-5
                </td>
                <td class="hidden-xs">
                  82.800</td>
              </tr>
              <tr>
                <td>6</td>
                <td>
                  531
                </td>
                <td class="hidden-xs">
                  Taller Top-6
                </td>
                <td class="hidden-xs">
                  68.550</td>
              </tr>
              <tr>
                <td>7</td>
                <td>
                  240
                </td>
                <td class="hidden-xs">
                  Taller Top-7</td>
                <td class="hidden-xs">
                  65.200</td>
              </tr>
              <tr>
                <td>8</td>
                <td>
                  1376
                </td>
                <td class="hidden-xs">
                  Taller Top-8</td>
                <td class="hidden-xs">
                  55.250</td>
              </tr>
              <tr>
                <td>9</td>
                <td>
                  2116
                </td>
                <td class="hidden-xs">
                  Taller Top-9</td>
                <td class="hidden-xs">
                  44.000
                </td>
              </tr>
              <tr>
                <td>10</td>
                <td>
                  1580
                </td>
                <td class="hidden-xs">
                  Taller Top-1</td>
                <td class="hidden-xs">
                  38.400</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



      <div class="col-lg-6">
        <div class="widget-container fluid-height clearfix">
          <div class="heading">
            <i class="fa fa-table"></i>Neumáticos más vendidos
          </div>
          <div class="widget-content padded clearfix">
            <table class="table table-bordered table-striped" id="">
              <thead>

              <tr>
                <th>
                  N&ordm;
                </th>
                <th>
                  C&oacute;digo
                </th>
                <th class="hidden-xs">Marca</th>
                <th class="hidden-xs">
                  Modelo
                </th>
                <th class="hidden-xs">
                  Dimensiones</th>
              </thead>
              <tbody>
              <tr><td>1</td><td>513</td><td class="hidden-xs">VREDESTEIN</td><td class="hidden-xs">SnowTrac 3 E </td><td class="hidden-xs">205/55/16-91H</td></tr>
              <tr><td>2</td><td>588</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">Ecomax  </td><td class="hidden-xs">225/45/17-94W</td></tr>
              <tr><td>3</td><td>397</td><td class="hidden-xs">KELLY</td><td class="hidden-xs">HP  </td><td class="hidden-xs">205/55/16-91V</td></tr>
              <tr><td>4</td><td>54</td><td class="hidden-xs">GOODYEAR</td><td class="hidden-xs">EfficientGrip Compact  </td><td class="hidden-xs">175/65/14-82T</td></tr>
              <tr><td>5</td><td>800</td><td class="hidden-xs">BRIDGESTONE</td><td class="hidden-xs">Turanza T001  </td><td class="hidden-xs">205/55/16-91V</td></tr>
              <tr><td>6</td><td>311</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">Ecosis XL </td><td class="hidden-xs">215/60/16-99H</td></tr>
              <tr><td>7</td><td>311</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">Ecosis XL </td><td class="hidden-xs">215/60/16-99H</td></tr>
              <tr><td>8</td><td>109</td><td class="hidden-xs">GOODYEAR</td><td class="hidden-xs">EfficientGrip Performance  </td><td class="hidden-xs">195/65/15-91V</td></tr>
              <tr><td>9</td><td>496</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">Ecomax  </td><td class="hidden-xs">225/45/17-94W</td></tr>
              <tr><td>10</td><td>797</td><td class="hidden-xs">ACHILLES</td><td class="hidden-xs">122</td><td class="hidden-xs">195/65/15-91H</td></tr>
              <tr><td>11</td><td>145</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">INF 030  </td><td class="hidden-xs">155/80/13-79T</td></tr>
              <tr><td>12</td><td>791</td><td class="hidden-xs">FIRESTONE</td><td class="hidden-xs">Multihawk  </td><td class="hidden-xs">175/70/14-84T</td></tr>
              <tr><td>13</td><td>670</td><td class="hidden-xs">BRIDGESTONE</td><td class="hidden-xs">Potenza S001 E </td><td class="hidden-xs">225/45/17-91Y</td></tr>
              <tr><td>14</td><td>313</td><td class="hidden-xs">INTERSTATE</td><td class="hidden-xs">IST-31  </td><td class="hidden-xs">205/55/16-91V</td></tr>
              <tr><td>15</td><td>179</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">Ecomax XL </td><td class="hidden-xs">205/45/16-87W</td></tr>
              <tr><td>16</td><td>50</td><td class="hidden-xs">UNIROYAL</td><td class="hidden-xs">RainExpert  </td><td class="hidden-xs">195/65/15-91V</td></tr>
              <tr><td>17</td><td>233</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">Ecomax XL </td><td class="hidden-xs">225/40/18-92Y</td></tr>
              <tr><td>18</td><td>337</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">Ecosis  </td><td class="hidden-xs">195/55/15-85V</td></tr>
              <tr><td>19</td><td>51</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">Ecosis  </td><td class="hidden-xs">185/65/15-88T</td></tr>
              <tr><td>20</td><td>437</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">INF 040  </td><td class="hidden-xs">195/65/15-91H</td></tr>
              <tr><td>21</td><td>825</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">INF 040  </td><td class="hidden-xs">185/65/14-86H</td></tr>
              <tr><td>22</td><td>34</td><td class="hidden-xs">DUNLOP</td><td class="hidden-xs">BLURESPONSE  </td><td class="hidden-xs">195/65/15-91H</td></tr>
              <tr><td>23</td><td>45</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">INF 030  </td><td class="hidden-xs">155/70/13-75T</td></tr>
              <tr><td>24</td><td>27</td><td class="hidden-xs">MICHELIN</td><td class="hidden-xs">Primacy 3  </td><td class="hidden-xs">205/55/16-91V</td></tr>
              <tr><td>25</td><td>479</td><td class="hidden-xs">INFINITY</td><td class="hidden-xs">INF 040  </td><td class="hidden-xs">195/65/15-91H</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
    <!-- end DataTables Example -->



  </div>


</div>

<script type="text/javascript" charset="utf-8">
    new Morris.Bar({
        element: "distribuidores",
        data: [
            {
                label: "Distri-1",
                value: 29995,
                x: 75438
            },
            {
                label: "Distri-2",
                value: 19088,
                x: 37719
            },
            {
                label: "Distri-3",
                value: 35448,
                x: 69152
            },
            {
                label: "Distri-4",
                value: 24541,
                x: 62865
            },
            {
                label: "Distri-5",
                value: 16361,
                x: 56579
            },
            {
                label: "Distri-6",
                value: 13634,
                x: 37719
            },
            {
                label: "Distri-7",
                value: 27268,
                x: 75438
            },
            {
                label: "Distri-8",
                value: 38175,
                x: 69152
            },
            {
                label: "Distri-9",
                value: 35448,
                x: 75438
            },
            {
                label: "Distri-10",
                value: 32721,
                x: 81725
            }
        ],
        xkey: "label",
        ykeys: ["value", "x"],
        labels: ["Enviado", "Recibido"],
        barRatio: 0.4,
        xLabelAngle: 35,
        hideHover: "auto",
        barColors: ["#5bc0de", "#a0dcee"]
    });

    /* 3-Ventas anuales (Stock: propio, externo, total)

     Line Chart */

    ventas_anuales_data = [
        { label: "2014-1", main: 747800, extern: 333950, total: 1081750 },
        { label: "2014-2", main: 756800, extern: 474150, total: 1230950 },
        { label: "2014-3", main: 639200, extern: 335500, total: 974700 },
        { label: "2014-4", main: 913750, extern: 436300, total: 1350050 },
        { label: "2014-5", main: 767650, extern: 246500, total: 1014150 },
        { label: "2014-6", main: 664450, extern: 464500, total: 1128950 },
        { label: "2014-7", main: 899300, extern: 407450, total: 1306750 },
        { label: "2014-8", main: 839200, extern: 639600, total: 1478800 },
        { label: "2014-9", main: 648650, extern: 451250, total: 1099900 },
        { label: "2014-10", main: 1036050, extern: 506000, total: 1542050 },
        { label: "2014-11", main: 1239450, extern: 628650, total: 1868100 },
        { label: "2014-12", main: 1248000, extern: 750000, total: 1998000 },
    ];
    new Morris.Line({
        element: "ventas-anuales",
        data: ventas_anuales_data,
        xkey: "label",
        ykeys: ["main", "extern", "total"],
        labels: ["Propia", "Externa", "Total"],
        lineColors: ["#5bc0de", "#f0ad4e", "#60c560"]
    });


    /* 4-Ventas mes  (Stock: propio, externo, total)

     Line Chart */

    ventas_mes_data = [
        { label: "2015-01-2", main: 25600, extern: 43650, total: 69250 },
        { label: "2015-01-3", main: 86450, extern: 16650, total: 103100 },
        { label: "2015-01-7", main: 53300, extern: 46550, total: 99850 },
        { label: "2015-01-8", main: 130500, extern: 22350, total: 152850 },
        { label: "2015-01-9", main: 38250, extern: 48800, total: 87050 },
        { label: "2015-01-10", main: 68600, extern: 31650, total: 100250 },
        { label: "2015-01-13", main: 29900, extern: 18350, total: 48250 },
        { label: "2015-01-14", main: 38250, extern: 49200, total: 87450 },
        { label: "2015-01-15", main: 109200, extern: 2950, total: 112150 },
        { label: "2015-01-16", main: 47750, extern: 36750, total: 84500 },
        { label: "2015-01-17", main: 120850, extern: 17250, total: 138100 },
        { label: "2015-01-20", main: 44600, extern: 74450, total: 119050 },
        { label: "2015-01-21", main: 130750, extern: 44000, total: 174750 },
        { label: "2015-01-22", main: 31650, extern: 21750, total: 53400 },
        { label: "2015-01-23", main: 117150, extern: 30550, total: 147700 },
        { label: "2015-01-24", main: 4750, extern: 30200, total: 34950 },
        { label: "2015-01-27", main: 60950, extern: 5500, total: 66450 },
        { label: "2015-01-28", main: 70800, extern: 4500, total: 75300 },
        { label: "2015-01-29", main: 15600, extern: 32950, total: 48550 },
        { label: "2015-01-30", main: 12050, extern: 2350, total: 14400 },
        { label: "2015-01-31", main: 11050, extern: 41600, total: 52650 }
    ];
    new Morris.Line({
        element: "ventas-mes",
        data: ventas_mes_data,
        xkey: "label",
        ykeys: ["total", "main", "extern"],
        labels: ["Total", "Propia", "Externa"],
        lineColors: ["#60c560", "#5bc0de", "#f0ad4e"]
    });

    //    Ventas por stock
    new Morris.Donut({
        element: "ventas-stock",
        data: [
            {
                label: "Propia",
                value: 66.74
            },
            {
                label: "Externa",
                value: 33.26
            }
        ],
        colors: ["#f0ad4e", "#5bc0de"],
        formatter: function (y) {
            return y + "%";
        }
    });

    $("#pie-chart").sparkline([65, 22, 11, 2], {
        type: "pie",
        height: "220",
        width: "220",
        offset: "+90",
        sliceColors: ["#81e970", "#a0eeed", "#f5af50", "#f46f50"]
    });

</script>