<div class="row">
  <div class="col-lg-12">
    <div class="widget-container fluid-height clearfix">
      <div class="heading">
        <i class="fa fa-table"></i>Listados de gerencia
      </div>

      <div class="col-lg-12">
        <div class="jumbotron"> No hay ningun listado definido</div>
        </div>
        <div class="row"> </div>


      </div>
    </div>
  </div>

  <div class="row"> </div>