<div class="panel panel-default">
  <div class="panel-body">

    <!-- ruta ok para NEW  # site_pages_path(@site, @page) -->
    <!-- ruta ok para EDIT # site_page_path(@page.site, @page) -->

    <%= form_for(@page, url: @page.new_record? ? site_pages_path(@site, @page) : site_page_path(@page.site, @page), html: {class: "form-horizontal"}) do |f| %>

        <%= errors_for(@page) %>

        <div class="form-group">
          <%= f.label :titulo, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.text_field :title, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :plantilla, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.select :custom_template_id, DtsCmsAdmin::CustomTemplate.all.map { |t| [t.name, t.id] },{}, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :publicada, class: "control-label col-md-2" %>
          <div class="col-md-6">
            <%= f.select :published, [["Si", true],["No", false]],{}, class: "form-control" %>
          </div>
        </div>

        <div class="actions">
          <%= button_tag class: "btn btn-success form-control" do %>
              <i class='fa fa-check-square-o'></i> Confirmar
          <% end %>
        </div>

    <% end %>

  </div>
</div>