<h1>Editando Página
  <span class="pull-right"><%= link_to "<i class='fa fa-arrow-left'></i> Regresar".html_safe, site_pages_path(@page.site), class: "btn btn-default" %></span>
</h1>
<hr />

<%= render 'form' %>