<div class="col-lg-12">
<div class="widget-container fluid-height">
<div class="heading tabs"><i class="fa fa-gears"></i>Opciones para <%= @site.name %>
  <ul class="nav nav-tabs pull-right" data-tabs="tabs" id="tabs">

    <li class="active">
      <a data-toggle="tab" href="components.html#contenidos"><i class="fa fa-edit"></i><span>Contenidos</span></a>
    </li>

    <li>
      <a data-toggle="tab" href="components.html#template"><i class="fa fa-pencil"></i><span>Estético</span></a>
    </li>
    <!--<li>-->
    <!--<a data-toggle="tab" href="components.html#ecommerce"><i class="fa fa-sitemap"></i><span>Funcional</span></a>-->
    <!--</li>-->
  </ul>
</div>
<div class="tab-content padded" id="my-tab-content">
  <div class="tab-pane active" id="contenidos">
    <h3> Contenidos
      <span class="pull-right"><%= link_to "<i class='fa fa-plus'></i>".html_safe, new_site_page_path, class: "btn btn-success" %></span>
    </h3>
    <hr/>
    <ol class="sortable ui-sortable root" data-update-url="<%= sort_site_pages_path(@pages.first.site) %>">
      <% @pages.roots.each do |page| %>

          <li id="pages_<%= page.id %>" <%= "class=inactive" unless page.published %>>
            <div
            <% if page.has_children? %>class="menu-container"
            <% end %>>
              <strong><%= page.title %> <%#= page.published %> <%#= page.slug %> </strong><span class="pull-right"
                                                                                                <% if page.has_children? %>style="display:none"<% end %>>
          <%= link_to "<i class='fa fa-fw fa-edit'></i>".html_safe, edit_site_page_path(page.site, page) %>
              <%= link_to "<i class='fa fa-fw fa-trash-o'></i>".html_safe, site_page_path(page.site, page), method: :delete, data: {confirm: 'Are you sure?'} unless page.slug == "inicio" %></span>
            </div>
            <% if page.has_children? %>
                <ol>
                  <% page.children.each do |page| %>
                      <li id="pages_<%= page.id %>" <%= "class=inactive" unless page.published %>>
                        <div>
                          <strong><%= page.title %></strong><span class="pull-right"><%= link_to "<i class='fa fa-fw fa-edit'></i>".html_safe, edit_site_page_path(page.site, page) %> <%= link_to "<i class='fa fa-fw fa-trash-o'></i>".html_safe, site_page_path(page.site, page), method: :delete, data: {confirm: 'Are you sure?'} unless page.slug == "inicio" %></span>
                        </div>
                      </li>
                  <% end %>
                </ol>
            <% end %>
          </li>
      <% end %>
    </ol>
  </div>
  <div class="tab-pane" id="template">
    <div class="page-title">
      <h1> Diseño </h1>
    </div>

    <%= form_for(@site, html: {class: "form-horizontal"}, method: :put) do |f| %> <%= hidden_field_tag :redirect_to, request.original_url %>

        <hr/>
        <div class="row panel-danger">
          <div class="col-md-5 col-lg-offset-1">
            <%= image_tag @site.logo %>
          </div>
          <div class="col-md-6">
            <%= f.file_field :logo, class: 'form-control' %>
          </div>
        </div>
        <hr/>
        <!-- Theme -->
        <div class="row">
          <% @themes.all.each do |s| %>
              <div class="col-md-4">
                <div class="widget-container fluid-height">
                  <div class="heading"><i class="fa fa-desktop"></i><%= s.name %></div>
                  <div class="widget-content padded text-center">
                    <a class="trigger" data-picture="/images/web/home-full-width.jpg" data-title="Home - Modelo 1 Full Widht"><%= image_tag s.screenshot.url(:small), class: "img-responsive" %></a>
                    <br>
                    <br>
                    <label class="radio" for="<%= s.name %>"> <%= f.radio_button :theme, s.id, id: s.name, checked: (@site.theme.id == s.id ? true : false) %>
                      <span><%= s.name %></span> </label>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <!-- END Theme -->

        <!-- Custom styles -->
        <div class="row">
          <% @custom_style = @site.custom_style.nil? ? DtsCmsAdmin::CustomStyle.new : @site.custom_style %>
          <%= f.fields_for :custom_style, @custom_style do |cs| %>
              <hr/>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-4 pull" for="nombre">Color primario</label>

                  <div class="col-md-7">
                    <div class="input-group color" data-color="<%= @site.custom_style.main_color %>" data-color-format="hex" id="cp1"> <%= cs.text_field :main_color, class: "form-control", id: "cp1" %>
                      <span class="input-group-addon"><i style="hex(<%= @site.custom_style.main_color %>)"></i></span>
                      </input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-5" for="nombre">Tipo de letra</label>

                  <div class="col-md-7"> <%= cs.hidden_field :text_font, class: "form-control" %>

                    <%= select_tag :fonts, options_from_collection_for_select(DtsCmsAdmin::Typo.all, "name", "name", selected: @site.custom_style.text_font), id: "fonts" %>

                  </div>
                </div>
              </div>
              <br/>
              <br/>
              <hr/>
              <button class="btn btn-success form-control" type="submit"><i class="fa fa-save"></i> Guardar los
                cambios
              </button>
              </div>
          <% end %>
          <!-- END form -->

          <!-- Custom styles -->
    <% end %>
    <!-- END form -->
  </div>
  <div class="tab-pane" id="ecommerce">
    <div class="container-fluid main-content">
      <div class="page-title">
        <h1> Listado de neumaticos </h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="widget-container fluid-height">
            <div class="heading"><i class="fa fa-desktop"></i>Modelo 1</div>
            <div class="widget-content padded text-center">
              <a class="trigger" data-picture="/images/web/categoria-modelo-1.jpg" data-title="Categoria - Modelo 1"><img src="/assets/layout-cat-1.png"></a>
              <br>
              <br>
              <label class="radio" for="listado_default"> <%= radio_button_tag 'listado', '', nil, id: "listado_default", checked: false %>
                <span>Estilo 1</span></label>
              <em>Barra de opciones y filtros a la izquierda. <br>
                Encabezado con imagen y subcategorías</em></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget-container fluid-height">
            <div class="heading"><i class="fa fa-desktop"></i>Modelo 2</div>
            <div class="widget-content padded text-center">
              <a class="trigger" data-picture="/images/web/categoria-modelo-2.jpg" data-title="Categoria - Modelo 2"><img src="/assets/layout-cat-2.png"></a>
              <br>
              <br>
              <label class="radio" for="listado_alt"> <%= radio_button_tag 'listado', 'alt', nil, id: "listado_alt", checked: false %>
                <span>Estilo 2</span></label>
              <em>Barra de opciones y filtros a la derecha. <br>
                Sin imagen de encabezado</em></div>
          </div>
        </div>
        </form>
      </div>
    </div>
    <div class="container-fluid main-content">
      <div class="page-title">
        <h1> Detalle del neumatico </h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="widget-container fluid-height">
            <div class="heading"><i class="fa fa-desktop"></i>Modelo 1</div>
            <div class="widget-content padded text-center">
              <a class="trigger" data-picture="/images/web/producto-modelo-1.jpg" data-title="Productos - Modelo 1"><img src="/assets/layout-prod-1.png" class="img-responsive"></a>
              <br>
              <br>
              <label class="radio" for="detalle_default"><%= radio_button_tag 'detalle', '', nil, id: "detalle_default", checked: false %>
                <span>Estilo 1</span></label>
              <em>Ficha ancho completo.</em></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget-container fluid-height">
            <div class="heading"><i class="fa fa-desktop"></i>Modelo 2</div>
            <div class="widget-content padded text-center">
              <a class="trigger" data-picture="/images/web/producto-modelo-2.jpg" data-title="Productos - Modelo 2"><img src="/assets/layout-prod-2.png" class="img-responsive"></a>
              <br>
              <br>
              <label class="radio" for="detalle_alt"><%= radio_button_tag 'detalle', 'alt', nil, id: "detalle_alt", checked: false %>
                <span>Estilo 2</span></label>
              <em>Ficha con columna izquierda para contenidos secundarios.</em></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="widget-container fluid-height">
            <div class="heading"><i class="fa fa-desktop"></i>Modelo 3</div>
            <div class="widget-content padded text-center">
              <a class="trigger" data-picture="/images/web/producto-modelo-3.jpg" data-title="Productos - Modelo 3"><img src="/assets/layout-prod-3.png" class="img-responsive"></a>
              <br>
              <br>
              <label class="radio" for="detalle_alt1"><%= radio_button_tag 'detalle', 'alt1', nil, id: "detalle_alt1", checked: false %>
                <span>Estilo 3</span></label>
              <em>Ficha con columna derecha para contenidos secundarios.</em></div>
          </div>
        </div>
        </form>
      </div>
    </div>
    <button class="btn btn-success-outline form-control " type="submit"><i class="fa fa-save"></i> Guardar los
      cambios
    </button>
  </div>
</div>
</div>
</div>

<!--MODAL SETUP-->
<div class="modal fade " id="myModal" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
        <h4 class="modal-title"> Coso </h4>
      </div>
      <div class="modal-body"><img src="" class="img-responsive" id="image-holder"></div>
      <div class="modal-footer">
        <button class="btn btn-default-outline" data-dismiss="modal" type="button">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script>
    $('.trigger').click(function () {
        // Send the src on click of button to the iframe. Which will make it load.
        var picture = $(this).data("picture");
        var title = $(this).data("title");
        $("#image-holder").attr("src", picture);
        $(".modal-title").text(title);
        $('.modal').modal({show: true});
        // Hide the loading message

    })
</script> 
