<h1>Creando nuevo contenido
  <span class="pull-right"><%= link_to "<i class='fa fa-arrow-left'></i> Regresar".html_safe, site_pages_path(@site), class: "btn btn-default" %></span>
</h1>
<hr />

<%= render 'form' %>
