<!-- Navigation -->
<div class="navbar navbar-fixed-top scroll-hide">
  <div class="container-fluid top-bar">
    <div class="pull-right">
      <ul class="nav navbar-nav pull-right">
        <%#= render 'mini_cart' %>
        <li class="dropdown user hidden-xs"><a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void();">
          <img width="34" height="34" src="/images/avatar-male.jpg"/>Taller Ejemplo<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= main_app.taller_preferencias_path %>">
              <i class="fa fa-user"></i>Mi cuenta</a>
            </li>
            <li><a href="<%= main_app.taller_neumaticos_path(taller: true) %>">
              <i class="fa fa-shopping-cart"></i>Comprar</a>
            </li>
            <!--<li><a href="javascript:void();">-->
              <!--<i class="fa fa-gear"></i>Account Settings</a>-->
            <!--</li>-->
            <li><a href="<%= main_app.login_index_path %>">
              <i class="fa fa-sign-out"></i>Desconectar</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button class="navbar-toggle">
      <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <!--Defined in custom CSS, line 2-->
    <a class="logo" href="<%= main_app.taller_inicio_path %>">RiderCloud</a>

<!--
    <%= form_tag("/clientes/seleccionar", class: "navbar-form form-inline col-lg-2 hidden-xs", id: "nav-search-form") do -%>
        <%= text_field_tag :nombre, nil, class: "form-control clients typeahead tt-query", id: "nav-search-input", placeholder: "Cliente"  %>
    <% end -%>
-->

  </div>
  <div class="container-fluid main-nav clearfix">
    <div class="nav-collapse">
      <ul class="nav">
        <li><a class="<%= "current" if params[:action] == "neumaticos" %>" href="<%= main_app.taller_neumaticos_path(cliente: true) %>">
          <span aria-hidden="true" class="hightop-forms"></span>Comprar</a>
        </li>
        <li>
          <a class="<%= "current" if params[:action] == "index" && params[:controller] == "talleres" %>" href="<%= main_app.taller_inicio_path %>"><span aria-hidden="true" class="hightop-tables"></span>Neumáticos</a>
        </li>
        <li><a class="<%= "current" if params[:controller] == "pedidos"%>" href="<%= main_app.pedidos_path %>">
          <span aria-hidden="true" class="hightop-pages"></span>Pedidos</a>
        </li>
        <li><a class="<%= "current" if params[:controller] == "clientes"%>" href="<%= main_app.clientes_path %>">
          <span aria-hidden="true" class="hightop-star"></span>Clientes</a>
        </li>

        <li class="dropdown"><a data-toggle="dropdown" href="javascript:void();" class="<%= "current" if params[:controller] == "web"%>" >
          <span aria-hidden="true" class="hightop-feed"></span>Web<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <% if session[:taller_logeado_id] %>
                  <a href="/cms/sites/<%= session[:taller_logeado_id]["$oid"] %>/pages">Configurar</a>
              <% else %>
                <a href="/cms/sites">Configurar</a>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Navigation -->