<li class="dropdown notifications hidden-xs">
  <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void();"><span aria-hidden="true"><i class="fa fa-shopping-cart"></i></span>

    <div class="sr-only">

    </div>
    <% if @shopping_cart.cart_items.any? %>
        <p class="counter">
          <%= @shopping_cart.total_unique_items %>
        </p>
    <% end %>
  </a>
  <ul class="dropdown-menu" style="width: 550px;">

    <% @shopping_cart.shopping_cart_items.each do |item| %>
        <% neumatico = Tyre.find(item.item_id) %>

        <li><a href="javascript:void();">
          <div class="notifications label label-default">
            <strong><%= number_to_currency((neumatico.pvp_t1_iva * item.quantity), unit: "") %>€</strong>
          </div>
          <p>
            <strong><%= neumatico.marca %></strong> <%= neumatico.modelo unless neumatico.modelo.to_s.size > 15 %> <em>
            <%= neumatico.caracteristica_1 %>
            <%= neumatico.caracteristica_2 %>
            <%= neumatico.caracteristica_3 %></em>
            <%= neumatico.anchura %>/<%= neumatico.altura %>
            /<%= neumatico.diametro %> <%= neumatico.carga %> <%= neumatico.velocidad %>
          </p></a>

        </li>

    <% end %>
    <li></li>
    <li> <%= link_to "Ir al carrito", "/carrito", class: "btn btn-success-outline" %>

    </li>
  </ul>
</li>

