<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>
    Ridercloud - Financiero
  </title>
  <link href="/stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/font-awesome.min.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/hightop-font.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/isotope.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/jquery.fancybox.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/fullcalendar.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/wizard.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/select2.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/morris.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/datatables.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/datepicker.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/timepicker.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/colorpicker.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/bootstrap-switch.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/bootstrap-editable.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/daterange-picker.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/typeahead.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/summernote.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/ladda-themeless.min.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/social-buttons.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/jquery.fileupload-ui.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/dropzone.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/nestable.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/pygments.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/style.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/color/green.css" media="all" rel="alternate stylesheet" title="green-theme" type="text/css"/>
  <link href="/stylesheets/color/orange.css" media="all" rel="alternate stylesheet" title="orange-theme" type="text/css"/>
  <link href="/stylesheets/color/magenta.css" media="all" rel="alternate stylesheet" title="magenta-theme" type="text/css"/>
  <link href="/stylesheets/color/gray.css" media="all" rel="alternate stylesheet" title="gray-theme" type="text/css"/>
  <script src="/javascripts/jquery-1.10.2.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery-ui.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
  <script src="/javascripts/raphael.min.js" type="text/javascript"></script>
  <script src="/javascripts/selectivizr-min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.mousewheel.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.vmap.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.vmap.sampledata.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.vmap.world.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.bootstrap.wizard.js" type="text/javascript"></script>
  <script src="/javascripts/fullcalendar.min.js" type="text/javascript"></script>
  <script src="/javascripts/gcal.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="/javascripts/datatable-editable.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.easy-pie-chart.js" type="text/javascript"></script>
  <script src="/javascripts/excanvas.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.isotope.min.js" type="text/javascript"></script>
  <script src="/javascripts/isotope_extras.js" type="text/javascript"></script>
  <script src="/javascripts/modernizr.custom.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.fancybox.pack.js" type="text/javascript"></script>
  <script src="/javascripts/select2.js" type="text/javascript"></script>
  <script src="/javascripts/styleswitcher.js" type="text/javascript"></script>
  <script src="/javascripts/wysiwyg.js" type="text/javascript"></script>
  <script src="/javascripts/typeahead.js" type="text/javascript"></script>
  <script src="/javascripts/summernote.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.inputmask.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-fileupload.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-datepicker.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-timepicker.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-colorpicker.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-switch.min.js" type="text/javascript"></script>
  <script src="/javascripts/typeahead.js" type="text/javascript"></script>
  <script src="/javascripts/spin.min.js" type="text/javascript"></script>
  <script src="/javascripts/moment.js" type="text/javascript"></script>
  <script src="/javascripts/mockjax.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-editable.min.js" type="text/javascript"></script>
  <script src="/javascripts/xeditable-demo-mock.js" type="text/javascript"></script>
  <script src="/javascripts/xeditable-demo.js" type="text/javascript"></script>
  <script src="/javascripts/address.js" type="text/javascript"></script>
  <script src="/javascripts/daterange-picker.js" type="text/javascript"></script>
  <script src="/javascripts/date.js" type="text/javascript"></script>
  <script src="/javascripts/morris.min.js" type="text/javascript"></script>
  <script src="/javascripts/skycons.js" type="text/javascript"></script>
  <script src="/javascripts/fitvids.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.sparkline.min.js" type="text/javascript"></script>
  <script src="/javascripts/dropzone.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.nestable.js" type="text/javascript"></script>
  <script src="/javascripts/main.js" type="text/javascript"></script>
  <script src="/javascripts/respond.js" type="text/javascript"></script>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
</head>
<body class="page-header-fixed bg-1 carrito">
<div class="modal-shiftfix">


  <!--MENU -->

  <!-- Navigation -->
  <div class="navbar navbar-fixed-top scroll-hide">
    <div class="container-fluid top-bar">
      <div class="pull-right">
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown user hidden-xs"><a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void();">
            <img width="34" height="34" src="/images/avatar-male.jpg"/>Rol Financiero<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%= login_index_path %>">
                <i class="fa fa-sign-out"></i>Desconectar</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="navbar-toggle">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="logo" href="<%= financiero_inicio_path %>">RiderCloud</a>
    </div>
    <div class="container-fluid main-nav clearfix">
      <div class="nav-collapse">
        <ul class="nav">
          <li>
            <a class="<%= "current" if params[:action] == "inicio" %>" href="<%= financiero_inicio_path %>"><span aria-hidden="true" class="hightop-home"></span>Inicio</a>
          </li>
          <li><a class="<%= "current" if params[:action] == "distribuidores" %>" href="<%= financiero_distribuidores_path %>">
            <span aria-hidden="true" class="hightop-forms"></span>Distribuidores</a>
          </li>
          <li><a class="<%= "current" if params[:action] == "clientes" %>" href="<%= financiero_clientes_path %>">
            <span aria-hidden="true" class="hightop-star"></span>Clientes</a>
          </li>
          <li><a class="<%= "current" if params[:action] == "historico" %>" href="<%= financiero_historico_path %>">
            <span aria-hidden="true" class="hightop-pages"></span>Historico</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Navigation -->

  <!--END MENU-->

  <div class="container main-content">

  <%= yield %>

</div>
</div>

</body>
</html>