<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>
    Ridercloud - Demo
  </title>
  <link href="/stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/font-awesome.min.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/hightop-font.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/style.css" media="all" rel="stylesheet" type="text/css"/>
  <script src="/javascripts/jquery-1.10.2.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery-ui.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
  <script src="/javascripts/raphael.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.mousewheel.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.vmap.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.vmap.sampledata.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.vmap.world.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.bootstrap.wizard.js" type="text/javascript"></script>
  <script src="/javascripts/fullcalendar.min.js" type="text/javascript"></script>
  <script src="/javascripts/gcal.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="/javascripts/datatable-editable.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.easy-pie-chart.js" type="text/javascript"></script>
  <script src="/javascripts/excanvas.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.isotope.min.js" type="text/javascript"></script>
  <script src="/javascripts/modernizr.custom.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.fancybox.pack.js" type="text/javascript"></script>
  <script src="/javascripts/select2.js" type="text/javascript"></script>
  <script src="/javascripts/styleswitcher.js" type="text/javascript"></script>
  <script src="/javascripts/wysiwyg.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.inputmask.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-fileupload.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-datepicker.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-timepicker.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-colorpicker.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap-switch.min.js" type="text/javascript"></script>
  <script src="/javascripts/daterange-picker.js" type="text/javascript"></script>
  <script src="/javascripts/date.js" type="text/javascript"></script>
  <script src="/javascripts/morris.min.js" type="text/javascript"></script>
  <script src="/javascripts/skycons.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.sparkline.min.js" type="text/javascript"></script>
  <script src="/javascripts/fitvids.js" type="text/javascript"></script>
  <script src="/javascripts/main.js" type="text/javascript"></script>
  <script src="/javascripts/respond.js" type="text/javascript"></script>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
</head>
<body class="login1">
<!-- Login Screen -->
<div class="login-wrapper">
  <div class="login-container">

    <h1>
      <a href="<%= login_index_path %>" class="logo-login1">Ridercloud</a>
    </h1>

    <%= form_tag login_index_path %>
    <div class="form-group">
      <%= text_field_tag :user, nil, class: "form-control", placeholder: "Usuario" %>
    </div>
    <div class="form-group">
      <%= password_field_tag :password, nil, class: "form-control", placeholder: "Contraseña" %>

      <input type="submit" value="&#xf054;">
    </div>

    <div class="form-options clearfix">
      <a class="pull-right" href="<%= login_index_path %>">Olvide mi contraseña?</a>

      <div class="text-left">
        <label class="checkbox"><input type="checkbox"><span>Recuerdame</span></label>
      </div>
    </div>
    </form>

    <% if @mensaje %>
        <div class="alert alert-danger">
          <button class="close" data-dismiss="alert" type="button">×</button><%= @mensaje %>
        </div>
    <% else %>
        <p class="signup">
          No tienes cuenta? <a href="<%= login_index_path %>">Envíanos un email</a>
        </p>
    <% end %>
  </div>
</div>
<!-- End Login Screen -->
</body>
</html>